  <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/adminPage" class="logo-expanded">
                    <img src="../../stylesheets/img/single-logo.png" alt="logo">
                    <span class="nav-label">Velonic</span>
                </a>
            </div>
            <!-- / brand -->
        
            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                    <li class="has-submenu"><a href="#"><i class="ion-email"></i> <span class="nav-label">서비스</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/mailing">메일링</a></li>
                            <li><a href="/notice">공지</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-search"></i> <span class="nav-label">조회</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/gradeAdvertiser">정보 조회/승인 및 제재</a></li>
                            <li><a href="/findMessage">쪽지조회</a></li>
                            <li><a href="/findMember">회원정보 조회</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-ios7-eye"></i> <span class="nav-label">관리</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/cs">고객 응대</a></li>
                            <li><a href="/sanction">제재</a></li>
                            <li><a href="/sanctionexception">관리대상</a></li>
                            <li><a href="/goFaq">FAQ 작성</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-podium"></i> <span class="nav-label">통계</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/statisticsAll">전체 통계</a></li>
                            <li><a href="/statisticsNote">쪽지 통계</a></li>
                            <li><a href="/statisticsAdvertiser">사업자 통계</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
                
        </aside>
        <!-- Aside Ends-->