 <!-- Aside Start-->
        <aside class="left-panel">

            <!-- brand -->
            <div class="logo">
                <a href="/advertiserPage" class="logo-expanded">
                    <img src="../stylesheets/img/single-logo.png" alt="logo">
                    <span class="nav-label">Velonic</span>
                </a>
            </div>
            <!-- / brand -->
        
            <!-- Navbar Start -->
            <nav class="navigation">
                <ul class="list-unstyled">
                
                    <li class="has-submenu"><a href="#"><i class="ion-plus"></i> <span class="nav-label">광고</span></a>
                        <ul class="list-unstyled">
                             <li><a href="/adRegistration">광고 등록</a></li>
                             <%if(user.grade=='F'){ %>
                              <li><a href="/advertiserRequest">사업자 등록 요청</a></li>
                             <%} %>
                         </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-podium"></i> <span class="nav-label">통계 자료</span></a>
                        <ul class="list-unstyled">
                            <li><a href="/advertiserStatisticsAll">전체 통계</a></li>
                            <li><a href="/advertiserStatisticsNote">쪽지 통계</a></li>
                            <li><a href="/advertiserStatisticsAdvertiser">사업자 통계</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-person"></i> <span class="nav-label">마이페이지</span></a>
                        <ul class="list-unstyled">
<<<<<<< HEAD
<<<<<<< HEAD
                            <li><a href="/myadlist">마이페이지</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#"><i class="ion-help"></i> <span class="nav-label">Q & A</span></a>
                        <ul class="list-unstyled">
=======
                            <li><a href="/myadlist">내 광고 리스트</a></li>
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
                            <li><a href="/myadlist">내 광고 리스트</a></li>
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                            <li><a href="/faq">Q & A</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
                
        </aside>
        <!-- Aside Ends-->