<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

		<!-- DataTables -->
        <link href="stylesheets/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body>

         <%include ../../include/asideAdmin.ejs %>
      


        <!--Main Content Start -->
        <section class="content">
            
        
            <%include ../../include/header %>


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Member Information</h3> 
                </div>

                <!-- Tabs-style-1 -->
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <ul class="nav nav-tabs"> 
                            <li class="active"> 
                                <a href="#home" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                    <span class="hidden-xs">일반 유저</span> 
                                </a> 
                            </li> 
                            <li class=""> 
                                <a href="#profile" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">사업자</span> 
                                </a> 
                            </li> 
                          
                        </ul> 
                        <div class="tab-content"> 
                            <div class="tab-pane active" id="home"> 
                                <div> 
                                
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Nickname</th>
                                                    <th>First name</th>
                                                    <th>Last name</th>
                                                    <th>Gender</th>
                                                    <th>Picture</th>                                                    
                                                    <th>Age</th>
                                                    <th>Locale</th>
                                                    <th>Join date</th>
                                                    <th>Grade</th>
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<rows.length; i++)
     {
        var info = rows[i];
      
%>
    <tr>
        <td><%=info.id%></td>
        <td><%=info.email%></td>
        <td><%=info.nickname%></td>
        <td><%=info.first_name%></td>
        <td><%=info.last_name%></td>
        <td><%=info.gender%></td>
        <td><%=info.picture%></td>
        <td><%=info.age%></td>        
        <td><%=info.locale%></td>
        <td><%=info.date%></td>
        <td><%=info.grade%></td>
 
               
    </tr>

<%
     }
    
%>
                                            </tbody>
                                        </table>
</div>
                                    </div>
                              
                           
                       
                        
                           
                            <div class="tab-pane" id="profile"> 
                                <div> 
                                <table id="datatable2" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Number</th>
                                                    <th>First_name</th>
                                                    <th>Last_name</th>
                                                    <th>Address</th>
                                                    <th>License</th>
                                                    <th>Join_date</th>
                                                    <th>Grade</th>
                                                </tr>
                                            </thead>

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<abc.length; i++)
     {
        var info = abc[i];
      
%>
    <tr>
        <td><%=info.id%></td>
        <td><%=info.email%></td>
        <td><%=info.number%></td>
        <td><%=info.first_name%></td>
        <td><%=info.last_name%></td>
        <td><%=info.address%></td>
        <td><%=info.license%></td>
        <td><%=info.date%></td>        
        <td><%=info.grade%></td>
 
               
    </tr>

<%
     }
    
%>
                                             </tbody>
                                        </table>
</div>
                                    </div>
                              
                           
                        </div> 
                    </div> 
                    

                </div>

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->

            <!-- Footer Start -->
          
                <%include ../../include/footer%>
             <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->
        





        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <script src="stylesheets/js/jquery.app.js"></script>
        <script src="stylesheets/assets/datatables/jquery.dataTables.min.js"></script>
        <script src="stylesheets/assets/datatables/dataTables.bootstrap.js"></script>

     <script type="text/javascript">
     $(document).ready(function() {
         $('#datatable').dataTable();
         $('#datatable2').dataTable();
     } );
        </script>

    </body>
</html>
