<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>Statistics Note</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
         <link href="../stylesheets/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
         <link href="../stylesheets/assets/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
       
        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />
         <script src="stylesheets/js/jquery-3.1.1.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    <style>
        #map {
        height: 300px;
        width : 100%;
      }
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

    </style>
    <style>
      #floating-panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        width: 350px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #latlng {
        width: 225px;
      }
    </style>
    <script src="../stylesheets/assets/gmaps/gmaps-plugin.js?note=<%=JSON.stringify(rows)%>"></script>
 
 <script>
         $(document).ready(function() {
        
        	$('#datatable').dataTable();
        	$("#datepicker").change(function() {
            	$('div').remove('script');
            	$('#nene').find('script').remove();
                var datepicker = $("#datepicker").val();
			    var datepicker2 = $("#datepicker2").val();
			    if(datepicker != "" && datepicker2 !=""){
				    if(datepicker > datepicker2){
				    	document.form.morePassword.click();	
				    }}
			      $.ajax({
  	    	        url: '/datepicker',
  	    	        type:'post',
  	    	        data:{'datepicker': datepicker,'datepicker2':datepicker2},
                    success: function(jsonData) {
                    	$('#newMessage').empty();
                    	for(var i=0; i<jsonData.length;i++){
                    		var note =jsonData[i];
                    	    $('#newMessage').append(
                    			"<tr>"+
                    			"<td>"+note.id+"</td>"+
                    			"<td>"+note.created_date+"</td>"+
                    			"<td>"+note.location_name+"</td>"+
                    			"<td>"+note.lat+"</td>"+
                    			"<td>"+note.lng+"</td>"+
                    			"<td>"+note.title+"</td>"+
                    			"<td>"+note.content+"</td>"+
                    			"<td>"+note.media+"</td>"+
                    			"<td>"+note.grade+"</td>"+
                    			"<td>"+note.private+"</td>"+
                    			"<td>"+note.view_cnt+"</td>"+
                    			"<td>"+note.likes+"</td>"+
                    			"</tr> "
                    	     );
                    	   }
                    	 },
	    	            error: function(jqXHR, textStatus, errorThrown) {
	    	            alert('error ' + textStatus + " " + errorThrown);
	    	        }
  	    	    });
            });
        	$("#datepicker2").change(function() {
			    var datepicker = $("#datepicker").val();
			    var datepicker2 = $("#datepicker2").val();
			    if(datepicker != "" && datepicker2 !=""){
			    if(datepicker > datepicker2){
			    	document.form.morePassword.click();	
			    }}
			      $.ajax({
  	    	        url: '/datepicker',
  	    	        type:'post',
  	    	        data:{'datepicker': datepicker,'datepicker2':datepicker2},
                    success: function(jsonData) {
                    	$('#newMessage').empty();
                    	for(var i=0; i<jsonData.length;i++){
                    		var note =jsonData[i];
                    	    $('#newMessage').append(
                    			"<tr>"+
                    			"<td>"+note.id+"</td>"+
                    			"<td>"+note.created_date+"</td>"+
                    			"<td>"+note.location_name+"</td>"+
                    			"<td>"+note.lat+"</td>"+
                    			"<td>"+note.lng+"</td>"+
                    			"<td>"+note.title+"</td>"+
                    			"<td>"+note.content+"</td>"+
                    			"<td>"+note.media+"</td>"+
                    			"<td>"+note.grade+"</td>"+
                    			"<td>"+note.private+"</td>"+
                    			"<td>"+note.view_cnt+"</td>"+
                    			"<td>"+note.likes+"</td>"+
                    			"</tr> "
                    			);
                    	   }
                      },
	    	            error: function(jqXHR, textStatus, errorThrown) {
	    	            alert('error ' + textStatus + " " + errorThrown);
	    	        }
  	    	    });
            });
        }); 
    </script>
    </head>


    <body>

       <%include ../../include/asideAdmin %>

        <!--Main Content Start -->
        <section class="content">
            
            <%include ../../include/header %>


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">쪽지 조회</h3> 
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Note Select
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="gmaps-basic" class="gmaps"></div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Find Location
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet3" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </div>
                <!-- End Row -->
                            <div class="col-md-6">
                            <form name = form>
                              <div class="input-group">
                                    <input type="text" class="form-control" placeholder="시작 날짜" id="datepicker">
                                    <span class="input-group-addon"><i class="ion-code-working"></i></span>
                                    <input type="text" class="form-control" placeholder="끝 날짜" id="datepicker2">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                     <input type="hidden" class="btn btn-info btn-sm" id="sa-date" name="morePassword"/>
                                </div><!-- input-group -->
                                </form>
                              </div> <!-- col -->
                 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Note Data</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table id="datatable" class="table table-striped table-bordered">
                                           <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Created Date</th>
                                                    <th>Location</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Media</th>
                                                    <th>grade</th>
                                                    <th>Private</th>
                                                    <th>View</th>
                                                    <th>Likes</th>
                                                </tr>
                                            </thead>
                                            <tbody id="newMessage">
                                             <%for(var i=0; i<rows.length;i++){
                                            	var note = rows[i]%>
                                            	<tr>
                                                    <input type="hidden" id="latlng<%=i %>" value="<%=note.lat %>,<%=note.lng %>"/>
                                                    <td><%=note.id %><button class="btn btn-icon btn-default m-b-5" id="submit<%=i %>"><i class="ion-search"></i></button></td>
                                                    <td><%=note.created_date %></td>
                                                    <td><%=note.location_name %></td>
                                                    <td><%=note.lat %></td>
                                                    <td><%=note.lng %></td>
                                                    <td><%=note.title%></td>
                                                    <td><%=note.content %></td>
                                                    <td><%=note.media %></td>
                                                    <td><%=note.grade %></td>
                                                    <td><%=note.private %></td>
                                                    <td><%=note.view_cnt %></td>
                                                    <td><%=note.likes %></td>
                                                </tr>
                                               <%}%>
                                               </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- End Row -->

            

            </div> <!-- END Wraper -->

            <%include ../../include/footer %>


        </section>
        

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/modernizr.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>

        <script src="../stylesheets/assets/timepicker/bootstrap-datepicker.js"></script>
        <script src="../stylesheets/js/jquery.app.js"></script>
        <script src="../stylesheets/assets/datatables/jquery.dataTables.min.js"></script>
        <script src="../stylesheets/assets/datatables/dataTables.bootstrap.js"></script>

      
           <script>
            jQuery(document).ready(function() {
                // Date Picker
                jQuery('#datepicker').datepicker();
                jQuery('#datepicker2').datepicker();
             });
        </script>
       
<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: {lat: 37.4898486,lng:127.026478}
  });
  var geocoder = new google.maps.Geocoder;
  var infowindow = new google.maps.InfoWindow;
  <%for(var a = 0; a<rows.length;a++){%>
  $('#submit<%=a%>').on('click',function(){
	  geocodeLatLng(geocoder, map, infowindow,<%=a%>);
  });
  <%}%>
}
function geocodeLatLng(geocoder, map, infowindow,a) {
  var input = document.getElementById('latlng'+a).value;
  var latlngStr = input.split(',', 2);
  var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
  geocoder.geocode({'location': latlng}, function(results, status) {
    if (status === google.maps.GeocoderStatus.OK) {
      if (results[1]) {
          map.setZoom(18);
          var marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
        infowindow.setContent(results[1].formatted_address);
        infowindow.open(map, marker);
      } else {
        window.alert('No results found');
      }
    } else {
      window.alert('Geocoder failed due to: ' + status);
    }
  });
}
    </script>

        <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
        <!-- google maps api -->
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyCnm2VlyenmWo3sB8tJ93sBJMfrIftWmn4&callback=initMap"></script>
        <!-- main file -->
        <script src="../stylesheets/assets/gmaps/gmaps.js"></script>
        <!-- demo codes -->
        
        
        


    </body>
</html>
