<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="../stylesheets/assets/modal-effect/css/component.css" rel="stylesheet">

        <!-- DataTables -->
        <link href="../stylesheets/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />
        <script src="../stylesheets/js/jquery-1.8.3.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        <script>
 $(document).ready(function(){
       
        $("#checkall").click(function(){
           
            if($("#checkall").prop("checked")){
            
                $("input[name=id]").prop("checked",true);
          
              
            }else{
               
                $("input[name=id]").prop("checked",false);
          
            }
        })
    })
    </script>
    </head>


    <body>

      <%include ../../include/asideAdmin.ejs %>


        <!--Main Content Start -->
        <section class="content">
            
          <%include ../../include/header.ejs %>

            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">정보조회/승인 및 제재</h3> 
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">회원조회</h3>
                            </div>
                             <input type="checkbox" id = 'checkall'/>전체선택
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    
                                            <form action ="/updateAdvertiser"method="post">
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                <td></td>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Nickname</th>
                                                    <th>F. name</th>
                                                    <th>L. name</th>
                                                    <th>Gender</th>                                                                                                    
                                                    <th>Age</th>                                                   
                                                    <th>Join date</th>
                                                    <th>Grade</th>
                                                    <th>Up</th>
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<rows.length; i++)
     {
        var info = rows[i];
      
%>
    <tr>
    <td><input type="checkbox" name="id" value="<%=info.id %>" /></td>
        <td><a href="javascript:;" class="md-trigger btn btn-primary btn-sm" data-modal="modal-<%=info.id%>"><%=info.id%></a></td>
        <td><%=info.email%></td>
        <td><%=info.nickname%></td>
        <td><%=info.first_name%></td>
        <td><%=info.last_name%></td>
        <td><%=info.gender%></td>      
        <td><%=info.age%></td>                
        <td><%=info.date%></td>
        <td><%=info.grade%></td>
        <td><a href="/updateAdvertiser2/<%=info.id%>"><input type="button"></a></td>
      </tr>
<%
     }
%>

                                            </tbody>
                                        </table>
                                        <input type="submit" value='Del'/>
                                       
                                        </form>

		
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- End Row -->

           
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->
<%
     for(var a=0; a<request.length; a++)
     {
        var req = request[a];
%>
                            <div class="md-modal md-effect-1" id="modal-<%=req.id%>">
                                <div class="md-content">
                                    <h3><%=req.id%> 사업자 요청</h3>
                                    <div>
                                        <p><%=req.ad_name %></p>
                                        <ul>
                                            <li><strong>회사 이름&nbsp;:&nbsp;</strong><%=req.company_name %></li>
                                            <li><strong>회사 위치&nbsp;:&nbsp;</strong><%=req.company_address %></li>
                                            <li><strong>세부적인 계획&nbsp;:&nbsp;</strong><%=req.detail_plan %></li>
                                        </ul>
                                        <button class="md-close btn-sm btn-primary">닫기</button>
                                    </div>
                                </div>
                            </div>
                            <%} %>
                            <div class="md-overlay"></div>        
           <%include ../../include/footer.ejs %>



        </section>
        <!-- Main Content Ends -->
        



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="../stylesheets/assets/modal-effect/js/classie.js"></script>
        <script src="../stylesheets/assets/modal-effect/js/modalEffects.js"></script>

        <script src="../stylesheets/js/jquery.app.js"></script>

        <script src="../stylesheets/assets/datatables/jquery.dataTables.min.js"></script>
        <script src="../stylesheets/assets/datatables/dataTables.bootstrap.js"></script>


        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
            } );
        </script>

    </body>
</html>
