<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>회원가입</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
          <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="../stylesheets/assets/morris/morris.css">


        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
 <script src="../stylesheets/js/jquery-3.1.1.min.js"></script>
<script>
  function doCheck(){
    
    	if(document.form.password.value.length < 8){
    		document.form.morePassword.click();
    		return false;
    	}
    	if(document.form.password.value != document.form.password2.value){
    		document.form.dismatchPassword.click();
    		return false;
    	}
    	document.form.success.click();
    	return true;
  } 	 
    	 
    	 
    	 $(document).ready(function() {
    		 $("#id").keyup(function() {
    			
    			 var id = $("#id").val();
    			  $.ajax({
    	    	        url: '/idCheck',
    	    	        type:'POST',
    	    	        data:{'id': id},

    	    	        success: function(jsonData) {
    	    	        	
    	    	        	 if($("#id").val().length==0){
    	       				  $('#test').html("");
    	       			  }else
    	    	        	 $('#test').html(jsonData)
    	    	        	
    	    	        	
    	    	        },
    	    	        error: function(jqXHR, textStatus, errorThrown) {
    	    	            alert('error ' + textStatus + " " + errorThrown);
    	    	        }
    	    	    });
    			 
    		 });
    		 
    		 $("#password2").keyup(function() {
     			
    			 var password = $("#password").val();
    			 var password2= $("#password2").val();
    			  $.ajax({
    	    	        url: '/pwCheck',
    	    	        type:'POST',
    	    	        data:{'password': password, 'password2':password2},

    	    	        success: function(jsonData) {
    	    	        	
    	    	        	 if($("#password2").val().length==0){
    	       				  $('#pwCheck').html("");
    	       			  }else
    	    	        	 $('#pwCheck').html(jsonData)
    	    	        	
    	    	        	
    	    	        },
    	    	        error: function(jqXHR, textStatus, errorThrown) {
    	    	            alert('error ' + textStatus + " " + errorThrown);
    	    	        }
    	    	    });
    			 
    		 });
        });
    	 
    	 
    </script>

    </head>


    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"> 
                   <h3 class="text-center m-t-10"> 사업자 회원가입 </h3>
                </div> 

                <form class="form-horizontal m-t-40" name="form" method ="post" action="/advertiserRegister" onsubmit="return doCheck()" enctype="multipart/form-data">
            
                             <div id="test" ></div>
                  
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" id="id" name = "id" required="" placeholder="아이디" keyup>
                        </div>
                    </div>
                             <div id="pwCheck" ></div>
                       
                   
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control " id="password" type="password" name = "password" required="" placeholder="비밀번호">
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " id="password2" type="password" name = "password2" required="" placeholder="비밀번호 확인">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" id="email" type="email"  name = "email" required="" placeholder="이메일">
                        </div>
                    </div>
                    
            
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="number" required="" placeholder="대표번호">
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="first_name" required="" placeholder="대표자 성">
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="last_name" required="" placeholder="대표자 이름">
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="address" required="" placeholder="대표 주소">
                        </div>
                    </div>
                    
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="license" required="" placeholder="사업자 등록 번호">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="file" name="photo" required="" placeholder="사진">
                        </div>
                    </div>
                   
                  
                    
                   
                     
                    
                   

                 <!--     <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" name="box" id="box" value=""/>
                                   <i class="fa"></i> 
                                 <strong><a href="#">가입 조건에 동의하십니까?</a></strong>
                            </label>
                        </div>
                    </div> -->
                    
                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">가입</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/login">이미 가입하셨나요?</a>
                        </div>
                    </div>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-basic" name="dismatchPassword"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-title" name="morePassword"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-basic2" name="boxCheck"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-success" name="success"/>
                </form>     
                                          
                
            </div>
        </div>

        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
       
        
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        
               <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
            
        <!--common script for all pages-->
        <script src="../stylesheets/js/jquery.app.js"></script>

    
    </body>
</html>
