<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<style>
button{
 background-color : pink;
 width : 200px;
 height : 80px;
 margin : 10px;
 font-size : 25px;
}
body{
margin-left:580px;
margin-top:300px;
}
</style>
</head>
<body>
<button  onclick="location.href='/user'">일반 회원가입</button> 
<button  onclick="location.href='/advertiser'">사업자 회원가입 </button>
</body>
</html>