<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>


<script>
    function doCheck(){
       
       if(document.form.box1.checked==false){
          document.form.boxCheck.click();
          return false;
       }
       if(document.form.box2.checked==false){
          document.form.boxCheck.click();
          return false;
       }
       if(document.form.box3.checked==false){
          document.form.boxCheck.click();
          return false;
       }
       
       return true;
       
       
    }
    $(document).ready(function(){
       
        $("#checkall").click(function(){
           
            if($("#checkall").prop("checked")){
            
                $("input[name=box1]").prop("checked",true);
                $("input[name=box2]").prop("checked",true);
                $("input[name=box3]").prop("checked",true);
              
            }else{
               
                $("input[name=box1]").prop("checked",false);
                $("input[name=box2]").prop("checked",false);
                $("input[name=box3]").prop("checked",false);
            }
        })
    })


    </script>
    </head>


    <body>

       <br/>
       <br/>
        <br/>
       <br/>
    <div class="col-md-3"></div>
                <!-- Accordions -->
                <form name="form" method ="get" action="/advertiser" onsubmit="return doCheck()">
           <div class ="col-md-9">
                    <div class="col-md-8"> 
                        <div class="panel-group" id="accordion-test-2"> 
                            <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                    <input type="checkbox" name="box1" style="float:left"  value=""/>
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseOne-2" aria-expanded="false" class="collapsed">
                                    
                                            &nbsp; Collapsible Group Item #1
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseOne-2" class="panel-collapse collapse"> 
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div>
                            <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                         <input type="checkbox" name="box2" style="float:left"  value=""/>
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseTwo-2" class="collapsed" aria-expanded="false">
                                           &nbsp; Collapsible Group Item #2
                                        </a> 
                                    </h4> 
                                </div> 
                                <div id="collapseTwo-2" class="panel-collapse collapse in"> 
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> 
                            <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                    <input type="checkbox" name="box3" style="float:left"value=""/>
                                        <a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseThree-2" class="collapsed" aria-expanded="false">
                                                                             
                                           &nbsp; Collapsible Group Item #3
                                        </a>  
                                    </h4> 
                                </div> 
                                <div id="collapseTwo-2" class="panel-collapse collapse in"> 
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div> 
                                </div> 
                            </div> <br/>
                               <div class="panel panel-default"> 
                                <div class="panel-heading"> 
                                    <h4 class="panel-title"> 
                                    <input type="checkbox" id="checkall" style="float:left"  value=""/>
                                        
                                                                             
                                           &nbsp; Agree?
                                      
                                    </h4> 
                                </div> 
                                </div>
                            <div class="col-md-11"></div>
        <input type="submit" value="next" class="col-md-1 btn-default"/>
                        </div> 
                    </div>
                     
 <input type="hidden" class="btn btn-info btn-sm" id="sa-basic2" name="boxCheck"/>
            </div> <!-- END Wraper -->
                </form>


   


   <!-- Main Content Ends -->
        





        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>

        <script src="stylesheets/js/jquery.app.js"></script>

    

    </body>
</html>