<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>회원가입</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        
        <link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="stylesheets/assets/morris/morris.css">


        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    <script>
    function doCheck(){
    
    	if(document.form.password.value != document.form.password2.value){
    		document.form.dismatchPassword.click();
    		return false;
    	}
    	if(document.form.password.value.length < 8){
    		document.form.morePassword.click();
    		return false;
    	}
    	if(document.form.box.checked==false){
    		document.form.boxCheck.click();
    		return false;
    	}
    	 document.form.success.click();
    	 return true;

    }
    function idCheck(){
    	alert(document.form.id.value);
    }
    </script>
    </head>


    <body>

        <div class="wrapper-page animated fadeInDown">
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"> 
                   <h3 class="text-center m-t-10"> 회원가입 </h3>
                </div> 

                        
                <button class="form-control" onClick="idCheck()">아이디 체크</button>
                <form class="form-horizontal m-t-40" name="form" method ="post" action="/userRegister" onsubmit="return doCheck()">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name = "id" required="" placeholder="아이디"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control " type="password" name = "password" required="" placeholder="비밀번호">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="password" name = "password2" required="" placeholder="비밀번호 확인">
                            
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="first_name" required="" placeholder="성">
                        </div>
                    </div>
                     <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name="last_name" required="" placeholder="이름">
                        </div>
                    </div>
                    
      
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name = "nickname" required="" placeholder="닉네임">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" name="email" required="" placeholder="이메일">
                        </div>
                    </div>
                    
                     <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control " type="text" name = "locale" required="" placeholder="주소">
                        </div>
                    </div>
                   
                  
                         <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="radio" name="gender" value="m" checked/>
                                <i class="fa"></i>남성
                            </label>
                            <label class="cr-styled">
                                <input type="radio" name="gender" value="fm"/>
                                <i class="fa"></i>여성
                            </label>
                        </div>
                    </div>
                <br/>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" name="box" id="box" value=""/>
                                   <i class="fa"></i> 
                                 <strong><a href="#">가입 조건에 동의하십니까?</a></strong>
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">가입</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30">
                        <div class="col-sm-12 text-center">
                            <a href="/login">이미 가입하셨나요?</a>
                        </div>
                    </div>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-basic" name="dismatchPassword"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-title" name="morePassword"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-basic2" name="boxCheck"/>
                             <input type="hidden" class="btn btn-info btn-sm" id="sa-basic3" name="idCheck"/>
                            <input type="hidden" class="btn btn-info btn-sm" id="sa-success" name="success"/>
                </form>                                  
                
                
                
                
            </div>
        </div>

        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
            
        <!--common script for all pages-->
        <script src="stylesheets/js/jquery.app.js"></script>

    
    </body>
</html>
