<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--C3 Chart CSS -->
        <link href="stylesheets/assets/c3-chart/c3.css" rel="stylesheet" />


        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
            <%
        var advertiseradd = advertiseradd;
        var useradd = useradd;
        var revenue = revenue;
        %>

    </head>


    <body>
 <%include ../../include/asideAdmin %>
        <section class="content">
            <%include ../../include/header %>

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">C3 Chart</h3> 
                </div>


                 <div class="row">
                
                    <div class="col-md-12">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Line Chart
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                </div> <!-- End row -->


                <div class="row">
                
                    <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Roated Chart
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet2" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="roated-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Combine Chart
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet3"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet3" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="combine-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>  <!-- End row -->


                <div class="row">
                
                    <div class="col-md-12">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Stacked Area Chart
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet4" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="chart-stacked"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>  <!-- End row -->
                    
                    

            </div>

           
           <%include ../../include/footer %>


        </section>



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/modernizr.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>

        <!--C3 Chart-->
        <script src="stylesheets/assets/c3-chart/d3.v3.min.js"></script>
        <script src="stylesheets/assets/c3-chart/c3.js"></script>
        <script src="stylesheets/assets/c3-chart/c3-chart.init.js?useradd=<%=JSON.stringify(useradd)%>&advertiseradd=<%=JSON.stringify(advertiseradd)%>&revenue=<%=JSON.stringify(revenue)%>"></script>


        <script src="stylesheets/js/jquery.app.js"></script>
        

    </body>
</html>
