<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Nostalog</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="stylesheets/assets/morris/morris.css">

        <!-- sweet alerts -->
        <link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
          <script src="../stylesheets/js/jquery-3.1.1.min.js"></script>
      
     
        <% 
        if(newadvertiser==null){
        	var newadvertiser=0;
        }if(newad==null){
        	var newad=0;
        }if(newuser==null){
        	var newuser=0;
        }if(newnote==null){
        	var newnote=0;
        }
        if(advertiserall==null){
        	var advertiserall=0;
        }
        if(adall==null){
        	var adall=0;
        }
        if(userall==null){
        	var userall=0;
        }
        if(noteall==null){
        	var noteall=0;
        }
        if(advertiseradd==null){
        	var advertiseradd=null;
        }if(adadd==null){
        	var adadd=null;
        }if(useradd==null){
        	var useradd=null;
        }if(noteadd==null){
        	var noteadd=null;
        }
       
        %>

    </head>


    <body>

      <% include ../include/asideAdmin %>


        <!--Main Content Start -->
        <section class="content">
            
            <% include ../include/header %>


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">통계 : 이용자 및 자료 증가현황</h3> 
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-pink">
                            <i class="ion-eye"></i> 
                            <h2 class="m-0 counter"><%=newadvertiser %></h2>
                            <div>신규 사업자</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-purple">
                            <i class="ion-paper-airplane"></i> 
                            <h2 class="m-0 counter"><%=newad %></h2>
                            <div>신규 광고</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-info">
                            <i class="ion-android-contacts"></i> 
                            <h2 class="m-0 counter"><%=newuser %></h2>
                            <div>신규 유저</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-success">
                            <i class="ion-ios7-pricetag"></i> 
                            
                            <h2 class="m-0 counter"><%=newnote %></h2>
                            <div>신규 쪽지</div>
                        </div>
                    </div>
                </div> <!-- end row -->



                <div class="row">
                    <div class="col-lg-8">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    주간 현황
                                </h3>
                                <div class="portlet-widgets">
                                <strong style="color:black">필터:</strong> <span class="divider"></span>
                                    <a href="/adminPage"><i class="ion-ios7-undo"></i></a>
                                    <span class="divider"></span>
                                    <a href="/advertisercount"><i class="ion-eye"></i></a>
                                    <span class="divider"></span>
                                    <a href="/adcount"><i class="ion-paper-airplane"></i></a>
                                    <span class="divider"></span>
                                    <a href="/usercount"><i class="ion-android-contacts"></i></a>
                                    <span class="divider"></span>
                                    <a href="/notecount"><i class="ion-ios7-pricetag"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet" class="panel-collapse collapse in">
                                <div  class="portlet-body">
                                <div class="row text-center m-t-30">
                                   	<div id="morris-line-example" style="height: 200px;"></div>
		            			<span class="pull label bg-pink inline m-t-10">광고주</span>
								<span class="pull label bg-purple inline m-t-10">광고</span>
								<span class="pull label bg-info inline m-t-10">유저</span>
								<span class="pull label bg-success inline m-t-10">쪽지</span>
								</div>
	    	                        	<div class="row text-center m-t-30">
                             			<div class="col-sm-4">
		               					 <% if(useradd!=null){ %>
		                   				<h4><%=useryear %></h4>
		              				 <small class="text-muted">일년간 유저 증가수</small>
		              				 <% }else if(noteadd!=null){ %>
		                   				<h4><%=noteyear %></h4>
		              				 <small class="text-muted">일년간 쪽지 증가수</small>
		              				 <% }else if(advertiseradd!=null){ %>
		                   				<h4><%=advertiseryear %></h4>
		              				 <small class="text-muted">일년간 광고주 증가수</small>
		              				 <% }else if(adadd!=null){ %>
		                   				<h4><%=adyear %></h4>
		              				 <small class="text-muted">일년간 광고 증가수</small>
		              				 <% } %>
		              				 </div>
		             				 <div class="col-sm-4">
		               					<% if(useradd!=null){ %>
		               					<h4><%=usermonth%></h4>
		              				 <small class="text-muted">한달간 유저 증가수</small>
		              				 <% }else if(noteadd!=null){ %>
		              				 <h4><%=notemonth%></h4>
		              				 <small class="text-muted">한달간 쪽지 증가수</small>
		              				 <% }else if(advertiseradd!=null){ %>
		              				 <h4><%=advertisermonth%></h4>
		              				 <small class="text-muted">한달간 광고주 증가수</small>
		              				 <% }else if(adadd!=null){ %>
		              				 <h4><%=admonth%></h4>
		              				 <small class="text-muted">한달간 광고 증가수</small>
		              				 <% } %>
		          					  </div>
		             				 <div class="col-sm-4">
		               				<% if(useradd!=null){ %>
		               				<h4><%=userweek%></h4>
		              				 <small class="text-muted">일주일간의 유저 증가수</small>
		              				 <% }else if(noteadd!=null){ %>
		               				<h4><%=noteweek%></h4>
		              				 <small class="text-muted">일주일간의 쪽지 증가수</small>
		              				 <% }else if(advertiseradd!=null){ %>
		               				<h4><%=advertiserweek%></h4>
		              				 <small class="text-muted">일주일간의 광고주 증가수</small>
		              				 <% }else if(adadd!=null){ %>
		               				<h4><%=adweek%></h4>
		              				 <small class="text-muted">일주일간의 광고 증가수</small>
		              				 <% } %>
		            			</div>

                            </div>
                         
                            
                                </div>
                            </div>
                           
                        </div> <!-- /Portlet -->
                    
                        </div>
                         <div class="col-lg-4">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    	전체 현황
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet4"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet4" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="pie-chart">
                                        <div id="pie-chart-container" class="flot-chart" style="height: 250px;">
                                        </div>
                                        <div class="row text-center m-t-30">
                             			<div class="col-sm-3">
		                   				<h4><%=advertiserall %></h4>
		              				 <small class="text-muted">사업자</small>
		              				 </div>
		             				 <div class="col-sm-3">
		             					 <h4><%=adall%></h4>
		              				 <small class="text-muted">광고</small>
		              				
		          					  </div>
		             				 <div class="col-sm-3">
		               				<h4><%=userall%></h4>
		              				 <small class="text-muted">유저</small>
		            				</div>
		            				 <div class="col-sm-3">
		               				<h4><%=noteall%></h4>
		              				 <small class="text-muted">쪽지</small>
		            				</div>
                                

                            </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> <!-- /Portlet -->
                    </div> <!-- end col -->
                                        
                </div> <!-- End row -->
                   <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">총 테이블</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>신규</th>
                                                        <th>주간</th>
                                                        <th>월간</th>
                                                        <th>연간</th>
                                                        <th>총</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>광고주</td>
                                                        <td><%=newadvertiser %></td>
                                                        <td><%=advertiserweek %></td>
                                                        <td><%=advertisermonth %></td>
                                                        <td><%=advertiseryear %></td>
                                                        <td><%=advertiserall %></td>
                                                    </tr>
                                                    <tr>
                                                    	<td>광고</td>
                                                        <td><%=newad %></td>
                                                        <td><%=adweek %></td>
                                                        <td><%=admonth %></td>
                                                        <td><%=adyear %></td>
                                                        <td><%=adall %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>유저</td>
                                                        <td><%=newuser %></td>
                                                        <td><%=userweek %></td>
                                                        <td><%=usermonth %></td>
                                                        <td><%=useryear %></td>
                                                        <td><%=userall %></td>
                                                    </tr>
                                                    <tr>
                                                        <td>광고</td>
                                                        <td><%=newnote %></td>
                                                        <td><%=noteweek %></td>
                                                        <td><%=notemonth %></td>
                                                        <td><%=noteyear %></td>
                                                        <td><%=noteall %></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <% include ../include/footer %>


        </section>
        <!-- Main Content Ends -->
       
    
        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/modernizr.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.scrollTo.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="stylesheets/assets/chat/moment-2.2.1.js"></script>

        <!-- Counter-up -->
        <script src="stylesheets/js/waypoints.min.js" type="text/javascript"></script>
        <script src="stylesheets/js/jquery.counterup.min.js" type="text/javascript"></script>

        <!-- EASY PIE CHART JS -->
        <script src="stylesheets/assets/easypie-chart/easypiechart.min.js"></script>
        <script src="stylesheets/assets/easypie-chart/jquery.easypiechart.min.js"></script>
        <script src="stylesheets/assets/easypie-chart/example.js"></script>


        <!--C3 Chart-->
        <script src="stylesheets/assets/c3-chart/d3.v3.min.js"></script>
        <script src="stylesheets/assets/c3-chart/c3.js"></script>

        <!--Morris Chart-->
        <script src="stylesheets/assets/morris/morris.min.js"></script>
        <script src="stylesheets/assets/morris/raphael.min.js"></script>

        <!-- sparkline --> 
        <script src="stylesheets/assets/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="stylesheets/assets/sparkline-chart/chart-sparkline.js" type="text/javascript"></script> 

        <!-- sweet alerts -->
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>

        <script src="stylesheets/js/jquery.app.js"></script>
        <!-- Chat -->
        <script src="stylesheets/js/jquery.chat.js"></script>
        <!-- Dashboard -->
        <script src="stylesheets/js/jquery.dashboard.js?useradd=<%=JSON.stringify(useradd) %>&noteadd=<%=JSON.stringify(noteadd) %>&adadd=<%=JSON.stringify(adadd) %>&advertiseradd=<%=JSON.stringify(advertiseradd) %>"></script>

        <!-- Todo -->
        <script src="stylesheets/js/jquery.todo.js"></script>
          <script src="stylesheets/assets/flot-chart/jquery.flot.js"></script>
        <script src="stylesheets/assets/flot-chart/jquery.flot.pie.js"></script>
        <script src="stylesheets/assets/flot-chart/jquery.flot.init.js?advertiserall=<%=JSON.stringify(advertiserall)%>&adall=<%=JSON.stringify(adall)%>&userall=<%=JSON.stringify(userall)%>&noteall=<%=JSON.stringify(noteall)%>"></script>
        
      


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>
    

    </body>
</html>
