<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

<title>Velonic - Responsive Admin Dashboard Template</title>

<!-- Google-Fonts -->
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic'
	rel='stylesheet'>


<!-- Bootstrap core CSS -->
<link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

<!--Animation css-->
<link href="../stylesheets/css/animate.css" rel="stylesheet">

<!--Icon-fonts css-->
<link href="../stylesheets/assets/font-awesome/css/font-awesome.css"
	rel="stylesheet" />
<link href="../stylesheets/assets/ionicon/css/ionicons.min.css"
	rel="stylesheet" />


<!-- Custom styles for this template -->
<link href="../stylesheets/css/style.css" rel="stylesheet">
<link href="../stylesheets/css/helper.css" rel="stylesheet">
<link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
<script type="text/javascript"
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
</head>


<body>

	<%include ../../include/asideAdvertiser %>


	<!--Main Content Start -->
	<section class="content">

		<%include ../../include/header %>


		<!-- Page Content Start -->
		<!-- ================== -->

		<div class="wraper container-fluid">
			<div class="page-title">
				<h3 class="title">Q & A</h3>
			</div>
			<div class="col-md-12"><div class="col-md-2"></div>
				<div class="col-md-8" align="center">
					<%
               for(var i=0; i<rows.length; i++)
                  {
                       var info = rows[i];
                    %>
                      <div class="panel-group" id="accordion-test-<%=i%>">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">

									<a data-toggle="collapse" data-parent="#accordion-test-2"
										href="#collapseOne-<%=i %>" aria-expanded="false"
										class="collapsed"> &nbsp; <%=info.title %>
									</a>
								</h4>
							</div>
							<div id="collapseOne-<%=i %>" class="panel-collapse collapse">
								<div class="panel-body">
									<%=info.content %>
								</div>
							</div>
						</div>

					</div>
                    <%}%>
					<div class=panel-group>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									원하시는 질문,답변이 없으신가요?<br /> 그렇다면 질문하기 버튼을 눌러 1:1 질문하기를 이용해주세요. <a
										href="/advertiserPage"><img src="../indexStyle/images/logos.png"
										width="70px" height="70px"></a> <br />
								</h4>
								<input type=button name='버튼' value='질문하러 가기'
									onclick="location.href='/goQna'">
							</div>
						</div>
					</div>
				</div>


			</div>
			<!-- END Wraper -->


		</div>
		<!-- Page Content Ends -->
		<!-- ================== -->

		<%include ../../include/footer %>



	</section>
	<!-- Main Content Ends -->




	<!-- js placed at the end of the document so the pages load faster -->
	<script src="../stylesheets/js/jquery.js"></script>
	<script src="../stylesheets/js/bootstrap.min.js"></script>
	<script src="../stylesheets/js/pace.min.js"></script>
	<script src="../stylesheets/js/modernizr.min.js"></script>
	<script src="../stylesheets/js/wow.min.js"></script>
	<script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
	<script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
	<script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>

	<script src="../stylesheets/js/jquery.app.js"></script>



</body>
</html>
