<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />


        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />
        
        <!-- Button effect -->
<link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
       <script>
    var select = document.getElementById("category")[document.getElementById("category").selelctedIndex].text
        /* var select = document.getElementByName("category").value  */
			
        
</script>

    </head>


    <body>

      <%include ../../include/asideAdvertiser %>


        <!--Main Content Start -->
        <section class="content">
            
            <%include ../../include/header %>


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">질문하기 등록 폼</h3> 
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">1:1 질문하기</h3></div>
                            <div class="panel-body">
                                <div class=" form">
                                    <form  class="cmxform form-horizontal tasi-form" method="post" action="/writeQna" enctype="multipart/form-data" >
                                    <input type="hidden" value='<%=user.id %>' name="id">
                                        <div class="form-group ">
                                            <label for="cname" class="control-label col-lg-2">제목</label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="cname" name="title" type="text" required="" aria-required="true">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group ">
                                            <label for="curl" class="control-label col-lg-2">카테고리</label>
                                            <div class="col-lg-10">
                                 <select id='category' name='category' onchange="alert(this.options[this.selectedIndex].value)">
										<option value="">선택하세요</option>
										<option value="account">계정관련 문의</option>
										<option value="advertise">광고 관련 문의</option>
										<option value="etc">기타 문의</option>
							     </select> 	
                                            </div>
                                        </div>	
                                       
                                        <div class="form-group ">
                                            <label for="ccomment" class="control-label col-lg-2">질문할 내용</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control " id="ccomment" name="content" required="" aria-required="true"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <label for="ccomment" class="control-label col-lg-2">첨부파일</label>
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <input type="file" name="photo" value="파일업로드" />
                                  		             등록 할 수 있는 파일의 최대 크기는 2MB 입니다.
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <input type=submit value="문의하기"/>
                                                <input type=button class="btn btn-info" type="button" value="취소하기"/>
                                            </div>
                                        </div>
                                    </form>
                                </div> <!-- .form -->
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->

                </div> <!-- End row -->


                

            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

            <%include ../../include/footer %>


        </section>
        <!-- Main Content Ends -->
    


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <!--form validation-->
        <script type="text/javascript" src="stylesheets/assets/jquery.validate/jquery.validate.min.js"></script>

        <!--form validation init-->
        <script src="stylesheets/assets/jquery.validate/form-validation-init.js"></script>

        <script src="stylesheets/js/jquery.app.js"></script>
		<!-- Button effect -->
<script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
 <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
    </body>
</html>
