<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="stylesheets/assets/modal-effect/css/component.css" rel="stylesheet">

		<!-- DataTables -->
        <link href="stylesheets/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    </head>


    <body>

         <%include ../../include/asideAdmin.ejs %>
      


        <!--Main Content Start -->
        <section class="content">
            
        
            <%include ../../include/header %>


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">고객응대</h3> 
                </div>

                <!-- Tabs-style-1 -->
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <ul class="nav nav-tabs"> 
                            <li class="active"> 
                                <a href="#home" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                    <span class="hidden-xs">일반 유저 문의사항</span> 
                                </a> 
                            </li> 
                            <li class=""> 
                                <a href="#profile" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">사업자 문의사항</span> 
                                
                                </a> 
                            </li> 
                          
                        </ul> 
                       <!--  일반 사업자 테이블 -->
                        <div class="tab-content"> 
                            <div class="tab-pane active" id="home"> 
                                <div> 
                                
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>TITLE</th>
                                                    <th>ID</th>
                                                    <th>CONTENT</th>
                                                    <th>DATE</th>
                                                    <th>CLASS</th>
                                                    <th>COMPLETE</th>
                                                    <th>Practice</th>                                                    
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<rows.length; i++)
     {
        var info = rows[i];
        var sub = info.content;
        var content = sub.substring(0, 4);
      
%>
    <tr>
        <td><%=info.title%></td>
        <td><%=info.id%></td>
        <td><%=content%>...</td>
        <td><%=info.date%></td>
        <td><%=info.class%></td>
        <td><%=info.complete%></td>
		<td><a href="javascript:;" class="md-trigger btn btn-primary btn-sm" data-modal="modal-<%=info.id%>">CLICK</a></td>
 
               
    </tr>

<%
     }
    
%>
                                            </tbody>
                                        </table>
</div>
                                    </div>
                              
                           
                       
                        <!-- 사업자 테이블 -->
                           
                            <div class="tab-pane" id="profile"> 
                                <div> 
                                <table id="datatable2" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                              
                                                    <th>ID</th>
                                                     <th>TITLE</th>
                                                    <th>CONTENT</th>
                                                    <th>DATE</th>
                                                    <th>FILE</th>
                                                    <th>COMPLETE</th>   
                                                    <th>CATEGORY</th>
                                                    <th>TYPE</th>
                                                    <th>Practice</th>
                                                </tr>
                                            </thead>

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<adv.length; i++)
     {
        var info = adv[i];
        var sub = info.content;
        var content = sub.substring(0, 4);
      
%>
    <tr>
        <td><%=info.id%></td>
       <td><%=info.title%></td>
        <td><%=content%>...</td>
        <td><%=info.date%></td>
        <td><%=info.file%></td>       
        <td><%=info.complete%></td>
        <td><%=info.category%></td>
        <td><%=info.type%></td>
        <td> <button class="btn btn-primary" data-toggle="modal" data-target="#con-close-<%=info.id+i%>">상세 보기</button></td>
        
        
               
    </tr>

<%
     }
    
%>
                                             </tbody>
                                        </table>
</div>
                                    </div>
                              
                           
                        </div> 
                    </div> 
                    

                </div>

            </div> <!-- END Wraper -->


            <!-- Page Content Ends -->
            <!-- ================== -->
<%
     for(var a=0; a<request.length; a++)
     {
        var req = request[a];
%>
                            <div id="con-close-<%=req.id+a%>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog"> 
                                        <div class="modal-content"> 
                                            <div class="modal-header"> 
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
                                                <h4 class="modal-title"><%=req.id%> 님의 문의 사항</h4> 
                                            </div> 
                                            <div class="modal-body"> 
                                                <div class="row"> 
                                                    <div class="col-md-6"> 
                                                        <div class="form-group"> 
                                                            <label for="field-1" class="control-label">ID</label> 
                                                            <input type="text" class="form-control" id="field-1" placeholder="<%=req.id %>" disabled> 
                                                        </div> 
                                                    </div> 
                                                    <div class="col-md-6"> 	
                                                        <div class="form-group"> 
                                                            <label for="field-2" class="control-label">등록 날짜</label> 
                                                            <input type="text" class="form-control" id="field-2" value=<%=req.date %> disabled> 
                                                        </div> 
                                                    </div> 
                                                </div> 
                                                <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <div class="form-group"> 
                                                            <label for="field-3" class="control-label">제목</label> 
                                                            <input type="text" class="form-control" id="field-3" value=<%=req.title %> disabled> 
                                                        </div> 
                                                    </div> 
                                                </div> 
                                                <div class="row"> 
                                                    <div class="col-md-4"> 
                                                        <div class="form-group"> 
                                                            <label for="field-4" class="control-label">질문 유형</label> 
                                                            <input type="text" class="form-control" id="field-4" value=<%=req.category %> disabled> 
                                                        </div> 
                                                    </div> 
                                                    <div class="col-md-4"> 
                                                        <div class="form-group"> 
                                                            <label for="field-5" class="control-label">처리 현황</label> 
                                                            <input type="text" class="form-control" id="field-5" value=<%=req.complete %> disabled> 
                                                        </div> 
                                                    </div> 
                                                    <div class="col-md-4"> 
                                                        <div class="form-group"> 
                                                            <label for="field-6" class="control-label">타입</label> 
                                                            <input type="text" class="form-control" id="field-6" value=<%=req.type %> disabled> 
                                                        </div> 
                                                    </div> 
                                               <div class="row"> 
                                                    <div class="col-md-12"> 
                                                        <div class="form-group no-margin"> 
                                                            <label for="field-7" class="control-label">글 내용</label> 
                                                            <textarea class="form-control autogrow" id="field-7" placeholder=<%=req.content %>  ROWS=3 COLS=30 WRAP="soft" disabled>   </textarea>                                                    
                                                        </div> 
                                                    </div> 
                                                </div> 
                                            </div> 
                                            <div class="modal-footer"> 
                                                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button> 
                                           
                                            </div> 
                                        </div> 
                                    </div>
                                    </div>
                                    </div>
                            <%} %>
                            <div class="md-overlay"></div>  
          
         
                <%include ../../include/footer%>
   


        </section>
     
        





        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
		<script src="stylesheets/assets/modal-effect/js/classie.js"></script>
        <script src="stylesheets/assets/modal-effect/js/modalEffects.js"></script>

        <script src="stylesheets/js/jquery.app.js"></script>
        <script src="stylesheets/assets/datatables/jquery.dataTables.min.js"></script>
        <script src="stylesheets/assets/datatables/dataTables.bootstrap.js"></script>

     <script type="text/javascript">
     $(document).ready(function() {
         $('#datatable').dataTable();
         $('#datatable2').dataTable();
     } );
        </script>

    </body>
</html>
