<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="../stylesheets/assets/select2/select2.css" />
        <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">


        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />
        <script src="../stylesheets/js/jquery-3.1.1.min.js"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
            <style>
      #map {
        height: 400px;
        width : 100%;
      }
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

    </style>
       <script>
         $(document).ready(function(){
        	 var b = 5;
             $('#eventRange').hide();
        	 $('#jumpohongbo').hide();
        	 $('#event2').fadeOut();
        	 $('#nocManual').fadeOut();
        	 $('#eventSet').hide();
        	 $('#a').click(function(){
            	$('#jumpohongbo').fadeIn();
            	$('#event').click(function(){
            		$('#event2').fadeIn();
            		$('#noc1').click(function(){
            			$('#nocManual').hide();
            			$('#eventSet').hide();
            			$('#eventRange').hide();
            		});
            		$('#noc2').click(function(){
            			$('#nocManual').fadeIn();
            			$('#eventSet').fadeIn();
            			$('#eventAllSet').click(function(){
            				$('#eventRange').fadeIn();
            			});
            			$('#eventOnceSet').click(function(){
            				$('#eventRange').hide();
            			});
            		});
            		
            	});
            });
        	
        	 $('#b').click(function(){
        		 $('#jumpohongbo').hide();
        		 $('#event2').hide();
        		 $('#nocManual').fadeOut();
            });
        	jQuery(".select2").select2({
                width: '100%'
            });
        	$('#spinner1').spinner();
         });
       
       </script>
    </head>


    <body>

      <%include ../../include/asideAdvertiser %>


        <!--Main Content Start -->
        <section class="content">
            
            <%include ../../include/header %>


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">광고등록</h3> 
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">마케팅 목표</h3>
                            </div>
                            <div class="panel-body">
                                <button id ='a' type="button" class="btn btn-primary btn-custom m-b-5">매장 방문수 늘리기</button>&nbsp;&nbsp;&nbsp;
                                <button id ='b' type="button" class="btn btn-info btn-custom m-b-5">매장 널리 알리기</button>
                            </div>
                        </div>
                      </div>
                   </div>
                 
                  <div class="row" id ="jumpohongbo">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                             <div class="panel-heading">
                                <h3 class="panel-title">광고 타입</h3>
                            </div>
                           <div class="panel-body">
                                <button id="event" type="button" class="btn btn-primary btn-custom m-b-5">이벤트</button>&nbsp;&nbsp;&nbsp;
                                
                            </div>
                        </div>
                      </div>
                 </div>
             <form action="#" id ="event2" class="form-horizontal" method="get">
              
                 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">타겟</h3>
                            </div>
                           <div class="panel-body">
                                <div class="form-group">
                                     <!--  <label class="col-sm-2 control-label">지역</label>
                                        <div class="col-sm-2">
                                            <select name="location" class="select2">
                                              <option value="#">&nbsp;</option>
                                              <option value="서울">서울</option>
                                              <option value="부산">부산</option>
                                              <option value="대구">대구</option>
                                              <option value="제주도">제주도</option>
                                              <option value="경기">경기</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">연령</label>
                                             &nbsp;&nbsp;&nbsp;
                                            <select  id="age1" name="age1" data-placeholder="14">
                                              <option value="#">&nbsp;</option>
                                              <%for(var i=14; i<65; i++){ %>
                                              <option value="<%=i%>"><%=i%></option>
                                              <%if(i==64){%><option value="65+">65+</option><%} %>
                                              <%} %>
                                            </select>
                                             &nbsp;&nbsp;
                                            <i class="ion-code"></i>
                                             &nbsp;&nbsp;
                                            <select id="age2" name="age2"data-placeholder="65+">
                                              <option value="#">&nbsp;</option>
                                              <%for(var i=14; i<65; i++){ %>
                                              <option value="<%=i%>"><%=i%></option>
                                              <%if(i==64){%><option value="65+">65+</option><%} %>
                                              <%} %>
                                            </select>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">성별</label>
                                        <div class="col-sm-7">
                                                <label class="cr-styled" for="genderAll">
                                                    <input type="radio" id="genderAll" name="gender" value="all" checked=""> 
                                                    <i class="fa"></i>전체&nbsp;
                                                </label>
                                                <label class="cr-styled" for="male">
                                                    <input type="radio" id="male" name="gender" value="m"> 
                                                    <i class="fa"></i>남성&nbsp;
                                                </label>
                                                <label class="cr-styled" for="female">
                                                    <input type="radio" id="female" name="gender" value="fm"> 
                                                    <i class="fa"></i>여성&nbsp;
                                                </label>
                                        </div>
                                     </div> <!-- form-group -->
                                      <div class="form-group">
                                        <label class="col-sm-1 control-label">언어</label>
                                        <div class="col-sm-7">
                                            <select class="select2"  name="language" multiple data-placeholder="추가할 언어 선택">
                                            <option value="english">영어</option>
                                              <option value="korea">한국어</option>
                                            </select>
                                        </div>
                                      </div>
                                </div>
                        </div>
                      </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">가격 및  일정</h3>
                            </div>
                           <div class="panel-body">
                                       <table class="table table-hover" style="width:200px">
                                            <thead>
                                                <tr>
                                                    <th>지역</th>
                                                    <th>건당 가격</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>서울</td>
                                                    <td>건당 300원</td>
                                               </tr>
                                                 <tr>
                                                    <td>경기</td>
                                                    <td>건당 200원</td>
                                               </tr>
                                                 <tr>
                                                    <td>제주도</td>
                                                    <td>건당 150원</td>
                                               </tr>
                                                 <tr>
                                                    <td>부산</td>
                                                    <td>건당 120원</td>
                                               </tr>
                                                 <tr>
                                                    <td>대구</td>
                                                    <td>건당 100원</td>
                                               </tr>
                                            </tbody>
                                        </table>
                                        <label>  - 가격은 수량 * 가격으로 책정됩니다.</label><br/>
                                        <label> - 이벤트 광고는 광고 게시 시점부터 광고물이 모두 소진될 때 까지이며, 기간은 정해져 있지않습니다.</label>  
                                   </div>
                              </div>
                        </div>
                  </div>
                  
                  <div class="row" >
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                                <h3 class="panel-title">이벤트 발생 위치 (기본 위치는 내 점포 기준 반경 500미터 입니다.)</h3>
                           </div>
                            <div class="panel-body">
                                    <!-- <div class="form-group">
                                        <label class="col-sm-2 control-label">자동 이벤트 발생</label>
                                        <div class="col-sm-7">
                                            <div class="radio">
                                                <label class="cr-styled" for="noc1">
                                                    <input type="radio" id="noc1" name="noc" value="auto" checked=""> 
                                                    <i class="fa"></i>
                                                </label>&nbsp;&nbsp;&nbsp;(기본 위치에 랜덤 이벤트를 발생시킵니다.)
                                            </div>
                                        </div>
                                    </div> form-group -->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">이벤트 위치 지정</label>
                                        <div class="col-sm-7">
                                            <div class="radio">
                                                <label class="cr-styled" for="noc2">
                                                    <input type="radio" id="noc2" name="noc" value="manual"> 
                                                    <i class="fa"></i>
                                                </label>&nbsp;&nbsp;&nbsp;(원하는 곳에 이벤트를 발생시킵니다.)
                                            </div>
                                         </div>
                                     </div> <!-- form-group -->
                                    
                                   </div>
                               </div>
                          </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <div class="portlet"><!-- /primary heading -->
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                <div class="form-group">
                                               <label class="control-label col-lg-2">수량</label>(최대 20개)
                                                <div class="col-lg-2">
                                                    <div id="spinner1">
                                                        <div class="input-group input-small">
                                                            <input type="text" id="eventAmount" name="eventAmount" class="spinner-input form-control"  maxlength="3" readonly>
                                                            <div class="spinner-buttons input-group-btn btn-group-vertical" >
                                                                <button type="button" class="btn spinner-up btn-xs btn-default">
                                                                    <i class="fa fa-angle-up"></i>
                                                                </button>
                                                                <button type="button" class="btn spinner-down btn-xs btn-default">
                                                                    <i class="fa fa-angle-down"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                              <div class="form-group ">
                                            <label for="curl" class="control-label col-lg-2">회사 이름</label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="company_name" type="text" name="company_name" required="" aria-required="true">
                                            </div>
                                       </div>
                                       <div class="form-group ">
                                            <label for="curl" class="control-label col-lg-2">이벤트 이름</label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="title" type="text" name="title" required="" aria-required="true">
                                            </div>
                                       </div>
                                       <div class="form-group ">
                                            <label for="cemail" class="control-label col-lg-2">이벤트 내용</label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control " id="content" name="content" required="" aria-required="true"></textarea>
                                            </div>
                                       </div>
                                       <div class="form-group ">
                                           <label for="cemail" class="control-label col-lg-2">이벤트 사진</label>&nbsp;&nbsp;&nbsp;
                                             <div class="fileUpload btn btn-purple">
                                             <span><i class="ion-upload m-r-5"></i>사진</span>
                                             <input type="file" id="media" name="media" class="upload" />
                                             </div>
                                       </div>
                                       <div class="form-group" id="eventSet">
                                        <label class="col-sm-2 control-label">이벤트 발생</label>
                                        <div class="col-sm-10">
                                                <label class="cr-styled" for="eventOnceSet">
                                                    <input type="radio" id="eventOnceSet" name="event" checked=""> 
                                                    <i class="fa"></i>콕콕 이벤트(이벤트 위치를 하나씩 지정하게 됩니다.)&nbsp;
                                                </label><br/><br/>
                                                <label class="cr-styled" for="eventAllSet">
                                                    <input type="radio" id="eventAllSet" name="event"> 
                                                    <i class="fa"></i>폭탄 이벤트(범위를 설정하여 쪽지를 한번에 뿌리게 됩니다.)&nbsp;
                                                </label>
                                        </div>
                                     </div> <!-- form-group --><br/>
                                     
                                      <div class="form-group" id="eventRange">
                                        <label class="col-sm-2 control-label">범위 설정</label>
                                        <div class="col-sm-10">
                                                 <label class="cr-styled" for="range50">
                                                    <input type="radio" id="range50" name="range" value="50" checked=""> 
                                                    <i class="fa"></i>반경 50m&nbsp;<br/><br/>
                                                </label>
                                                 <label class="cr-styled" for="range100">
                                                    <input type="radio" id="range100" name="range" value="100"> 
                                                    <i class="fa"></i>반경 100m&nbsp;<br/><br/>
                                                </label>
                                                 <label class="cr-styled" for="range500">
                                                    <input type="radio" id="range500" name="range" value="500"> 
                                                    <i class="fa"></i>반경 500m&nbsp;<br/><br/>
                                                </label>
                                                <label class="cr-styled" for="range1000">
                                                    <input type="radio" id="range1000" name="range" value="1000"> 
                                                    <i class="fa"></i>반경 1km&nbsp;<br/><br/>
                                                </label>
                                        </div>
                                     </div> <!-- form-group -->
                                   </div>
                              </div>
                        </div>
                    </div>
                    </div>
                 
                 <div class="row" id="nocManual">
                  <div class="col-md-12">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                                                         이벤트 남기기
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                <div id="map"></div>
                                <p>클릭하시면 이벤트를 생성하실 수 있습니다.</p>
                                <input onclick="deleteMarkers();" class="btn btn-default btn-custom m-b-5" type=button value="재생성">
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <% for(var i=0; i<20;i++){ %>
                  <input type="hidden" name = "lat<%=i%>" id="lat<%=i%>"/>
                  <input type="hidden" name = "lng<%=i%>" id="lng<%=i%>"/>
                  <input type="hidden" name = "location_name<%=i%>" id="location_name<%=i%>"/>
                  <%} %>
<<<<<<< HEAD
<<<<<<< HEAD
                 <input type="hidden" name = "ad_type" value="event"/>
                 <input type="hidden" name = "id" value="<%=user.id %>"/>
                 <input type="hidden" name = "amount" id="amount"/>
                 <input type="submit" id="next" value="결제" class="btn btn-primary w-xs m-b-5" style="float:right"/>
=======
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                  <input type="hidden" name = "ad_type" value="event"/>
                 <input type="submit" id="next" value="결제" class="btn btn-primary w-xs m-b-5"/>
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                 <input type="hidden" class="btn btn-info btn-sm" id="sa-limited" name="limited"/>
                 <input type="hidden" class="btn btn-info btn-sm" id="sa-info" name="info"/>
                 </form>
                  
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

           <%include ../../include/footer %>



        </section>
        <!-- Main Content Ends -->
        



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/modernizr.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script type="text/javascript" src="../stylesheets/assets/spinner/spinner.min.js"></script>
        <script src="../stylesheets/assets/select2/select2.min.js" type="text/javascript"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>


        <script src="../stylesheets/js/jquery.app.js"></script>
        <script>

// In the following example, markers appear when the user clicks on the map.
// The markers are stored in an array.
// The user can then click an option to hide, show or delete the markers.
var map;
var markers = [];
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 9,
    center: {lat: 37.4898486,lng:127.026478}
  });
  // This event listener will call addMarker() when the map is clicked.
  map.addListener('click', function(event) {
    addMarker(event.latLng);
  });
}

// Adds a marker to the map and push to the array.
function addMarker(location) {
	var amount = $('#eventAmount').val();
	var event_name = $('#title').val();
	var event_content = $('#content').val();
	var event_file = $('#media').val();
//	var image = '../stylesheets/img/im.PNG';
	
	
	if(event_name == ''){
		document.getElementById('sa-info').click();
		end();
		}
	if(event_content == ''){
		document.getElementById('sa-info').click();
		end();
		}
	if($('#company_name').val() == ''){
		document.getElementById('sa-info').click();
		end();
		}
	
	
	
	if(document.getElementById('eventOnceSet').checked){
		
		if(amount<=markers.length){
			document.getElementById('sa-limited').click();
		}else{
		    var marker = new google.maps.Marker({
		    position : {lat: location.lat(),lng:location.lng()},
		    map : map,
		    draggable: true,
		    animation: google.maps.Animation.DROP,
		    title : event_content,
		    label : event_name,
		  });
			markers.push(marker);
		}	
	}else{
		if(amount<=markers.length){
			document.getElementById('sa-limited').click();
		}
	 for(var j=0; j<4;j++){
		if(document.getElementsByName('range')[j].checked){
			var x=document.getElementsByName('range')[j].value;
		}
	}
	var range;
	if(x==50){
		 range = 200000;
	}else if(x==100){
		range = 100000;
	}else if(x==500){
		range = 20000;
	}else{
		range = 10000;
	} 
	for(var i=markers.length; i<amount;i++){
		
 	var random = Math.floor(Math.random()*100)/range - Math.floor(Math.random()*100)/range;
	var random2 = Math.floor(Math.random()*100)/range - Math.floor(Math.random()*100)/range; 
    
    var marker = new google.maps.Marker({
    position : {lat: location.lat()+random,lng:location.lng()+random2},
    map : map,
    draggable: true,
    title : event_content,
    label : event_name
  });
    markers.push(marker);
}
}
<<<<<<< HEAD
<<<<<<< HEAD
	for(var num =0; num<markers.length;num++){
          document.getElementsByName('lat')[num].value = markers[num].position.lat();
		  document.getElementsByName('lng')[num].value = markers[num].position.lng();
=======
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
	
	
	  var geocoder = new google.maps.Geocoder;
	  
	  
	  
	  
	  
	for(var num = 0 ; num<markers.length;num++){
		var latlng = markers[num].position;
		  geocoder.geocode({'location': latlng}, function(results, status) {
			    if (status === google.maps.GeocoderStatus.OK) { 
			    	  document.getElementById('location_name'+num).value = results[num].formatted_address;
			      } else {
			      window.alert('변환에 실패하였습니다. 내용은 : ' + status);
			    }
			  });
		  document.getElementById('lat'+num).value = markers[num].position.lat();
		  document.getElementById('lng'+num).value = markers[num].position.lng();
<<<<<<< HEAD
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
	}
		  document.getElementById('amount').value = markers.length;
}

// Sets the map on all markers in the array.
function setMapOnAll(map) {
  for (var i = 0; i < markers.length; i++) {
    markers[i].setMap(map);
<<<<<<< HEAD
   }
} 
=======

  }
}
<<<<<<< HEAD
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62

//Removes the markers from the map, but keeps them in the array.
function clearMarkers() {
  setMapOnAll(null);
}
// Deletes all markers in the array by removing references to them.
function deleteMarkers() {
  clearMarkers();
  markers = [];
}

    </script>
          <!-- google maps api -->
         <script src="http://maps.google.com/maps/api/js?key=AIzaSyCnm2VlyenmWo3sB8tJ93sBJMfrIftWmn4&callback=initMap"></script>
        
    

    </body>
</html>
