<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    <script>
    function doCheck(){
    	document.form.logout.click();
    	
    }
    </script>
    </head>


    <body>

      <%include ../../include/asideAdvertiser %>


        <!--Main Content Start -->
        <section class="content">
            
            <%include ../../include/header %>


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">사업자 등록 요청</h3> 
                </div>
              <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">요구사항 </h3></div>
                            <div class="panel-body">
                                <div class=" form">
                                    <form class="cmxform form-horizontal tasi-form" name="form" id="form" method="post" action="/requestRegistration" onsubmit="return doCheck()">
                                        <div class="form-group ">
                                            <label for="cname" class="control-label col-lg-2">회사 이름 * </label>
                                            <div class="col-lg-10">
                                                <input class=" form-control" id="id" name="id" type="hidden" value="<%=user.id%>">
                                                <input class=" form-control" id="company_name" name="company_name" type="text" required="123" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="curl" class="control-label col-lg-2">회사 위치 * </label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="company_address" type="text" name="company_address" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="cemail" class="control-label col-lg-2">광고 이름 * </label>
                                            <div class="col-lg-10">
                                                <input class="form-control " id="ad_name" type="text" name="ad_name" required="" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <label for="ccomment" class="control-label col-lg-2">세부적인 계획 * </label>
                                            <div class="col-lg-10">
                                                <textarea class="form-control " id="detail_plan" name="detail_plan" required="" aria-required="true"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-success" type="submit">요청</button>
                                             </div>
                                        </div>
                                        <input type="hidden" class="btn btn-info btn-sm" id="sa-logout" name="logout"/>
                                    </form>
                                </div> <!-- .form -->
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->

                </div> <!-- End row -->
            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

           <%include ../../include/footer %>



        </section>
        <!-- Main Content Ends -->
        



        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/modernizr.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>


        <script src="../stylesheets/js/jquery.app.js"></script>

    

    </body>
</html>
