<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

        <title>Nostalog-Login by LHY</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="../stylesheets/assets/morris/morris.css">


        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body>

        <div class="wrapper-page animated fadeInDown">
    <div style="margin-left:80px">
    <a href="/adindex">
    <img src="../indexStyle/images/logos.png" width = "200px" height = "200px" style="align:center"></a></div>
            <div class="panel panel-color panel-primary">
                <div class="panel-heading"> 
                   <h3 class="text-center m-t-10"> Sign In to <strong>PAL</strong> </h3>
                </div> 

                <form class="form-horizontal m-t-40" method="post" action="/authUser">
                                            
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="id" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group ">
                        
                        <div class="col-xs-12">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i> 
                                                                         아이디 저장하기
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-purple w-md" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="/three"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="/terms">Create an account</a>
                        </div>
                        
                    </div>
                </form>

            </div>
        </div>

    


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
            

        <!--common script for all pages-->
        <script src="../stylesheets/js/jquery.app.js"></script>

    
    </body>
</html>
