<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <link rel="stylesheets" href="stylesheets/assets/morris/morris.css">


        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        
        <link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

    </head>


    <body>

        <div class="wrapper-page animated fadeInDown">
        <div style="margin-left:80px">
    <a href="/adindex">
    <img src="../images/logos.png" width = "200px" height = "200px" style="align:center"></a></div>
            <div class="panel panel-color panel-primary">

                <form method="post" action="/index" role="form" class="text-center"> 
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Enter your <b>Email</b> and instructions will be sent to you!
                    </div>
                    <div class="form-group m-b-0"> 
                        <div class="input-group"> 
                            <input type="password" class="form-control" placeholder="Enter Email"> 
                            <span class="input-group-btn"> <button class="btn btn-info btn-sm" id="sa-success">Click me</button></span> 
                            
                        </div> 
                    </div> 
                    
                </form>

                
            </div>
        </div>
        <!-- 
                                      <button class="btn btn-info btn-sm" id="sa-basic">보내기</button>  
                                      <button class="btn btn-info btn-sm" id="sa-success">Click me</button>
                                       <button class="btn btn-info btn-sm" id="sa-warning">Click me</button> -->

        




        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
            

        <!--common script for all pages-->
        <script src="stylesheets/js/jquery.app.js"></script>

    
    </body>
</html>
