<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Coderthemes">


<title>비밀번호 찾기</title>

<!-- Google-Fonts -->
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic'
	rel='stylesheet'>
<link href='http://fonts.googleapis.com/css?family=Cuprum:400,700'
	rel='stylesheet' type='text/css'>

<!-- Bootstrap core CSS -->
<link href="indexStyle/css/bootstrap.min.css" rel="stylesheet">
<link href="indexStyle/css/bootstrap-reset.css" rel="stylesheet">
<link href="indexStyle/css/font-awesome.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="indexStyle/css/style.css" rel="stylesheet">
</head>



<body>

	<header>

		<div class="col.hy">
			<span class="tip">* Did you forget your password? We can help
				you to find your password easily!! *</span><br />
			<br />
			<br />
			<!-- <span class="tip">We can help you to find your password easily!!</span><br/><br/><br/>	 -->
		</div>
		
		<div class="row pt80">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-sm-4">
						<div class="price_card text-center">
							<div class="header bg-info">
								<span class="price">전화번호</span> <span class="name">Starter
									Pack</span>
							</div>
							<ul class="price-features">
								<li>등록하신 전화번호로 쉽게 비밀번호를 찾으실 수 있습니다.</li>

							</ul>
							<button class="btn btn-info w-md">Sign Up</button>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->

					<div class="col-sm-4">
						<div class="price_card text-center">
							<div class="header bg-pink">
								<span class="price">이메일</span> <span class="name">Professional
									Pack</span>
							</div>
							<ul class="price-features">
								<li>등록하신 이메일 주소로 쉽게 비밀번호를 찾으실 수 있습니다.</li>
							</ul>
							<a href="/recoverpw"><button class="btn btn-pink w-md">Click Here</button></a>
						</div>

					</div>
					<!-- end col -->

					<div class="col-sm-4">	
						<div class="price_card text-center">
							<div class="header bg-purple">
								<span class="price">힌트</span> <span class="name">Enterprise
									Pack</span>
							</div>
							<ul class="price-features">
								<li>가입하실때 기입한 힌트로 쉽게 비밀번호를 찾으실 수 있습니다.</li>
							</ul>
							<button class="btn btn-purple w-md">Sign Up</button>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- end Col-10 -->
		</div>
		<!-- end row -->
<div style="margin-left:auto; margin-right:auto">
    <a href="/adindex">
    <img src="../images/logos.png" width = "200px" height = "200px" ></a></div>


		<!-- end Features -->







		<!-- End Footer -->




		<!-- js placed at the end of the document so the pages load faster -->
		<script src="indexStyle/js/jquery.min.js"></script>
		<script src="indexStyle/js/bootstrap.min.js"></script>
		<!-- Jquery easing -->
		<script type="text/javascript"
			src="indexStyle/js/jquery.easing.1.3.min.js"></script>
		<!-- SmoothScroll -->



	</header>

</body>
</html>