<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="img/favicon_1.ico">

        <title>Statistics Note</title>
        <style>
      #map {
        height: 340px;
        width : 100%;
      }
    </style>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
         <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!--vector maps -->
        <link rel="stylesheet" href="../stylesheets/assets/vector-map/jquery-jvectormap-1.1.1.css">
        <link rel="stylesheet" href="../stylesheets/assets/vector-map/jqvmap.css">
        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
  <script>
        function onClick(){
        	<%if(user.grade == 'F'){%>
        	document.form.pictureClick.click();
        	<%}else{%>
        	document.form.request.click();
        	<%}%>
        }
  </script>
    </head>


    <body>

        <%include ../../include/asideAdvertiser %>


        <!--Main Content Start -->
        <section class="content">
                  
          <%include ../../include/header %>

            
           <%if(user.grade=='A'){ %>
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Statistics Note</h3> 
                </div>
                <!-- <div class="row">
                 
                    <div class="col-sm-12">
                          
                        <div class="portlet">/primary heading
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                     World
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlets1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlets1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="world-vmap" class="vmap-space"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> End row -->
                <div class="row">
                 <div class="col-md-6">
                          
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark">
                                    Korea
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlets2"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlets2" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                   <div id="korea" class="vmap-space"></div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                   <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Best Note Top5</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Row -->
                
                
                <div class="row">
                  
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Best Location Top5</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Location</th>
                                                    <th>Notes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <%for(var j=0;j<5;j++){
                                            	var locationBest = Best_location[j];
                                            	%>
                                                <tr>
                                                    <td><%=j+1%></td>
                                                    <td><%=locationBest.location_name %></td>
                                                    <td><%=locationBest.Best_location %></td>
                                                </tr>
                                                <%} %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Best Note Top5</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Location</th>
                                                    <th>View Count</th>
                                                    <th>Likes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <%for(var i=0; i<5;i++){
                                            	var noteBest = rows[i];%>
                                                <tr>
                                                    <td><%=i+1%></td>
                                                    <td><%=noteBest.id%></td>
                                                    <td><%=noteBest.title%></td>
                                                    <td><%=noteBest.location_name%></td>
                                                    <td><%=noteBest.view_cnt%></td>
                                                    <td><%=noteBest.likes%></td>
                                                </tr>
                                                <%} %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Row -->
           </div>
            <!-- Page Content Ends -->
            <!-- ================== -->
           <%}else{ %>
           <img id="picture" width="100%" src="../stylesheets/img/data_2.PNG" onClick="onClick()"/>
           <form name="form">
           <input type="hidden" class="btn btn-info btn-sm" id="sa-pictureClick" name="pictureClick"/>
            <input type="hidden" class="btn btn-info btn-sm" id="sa-request" name="request"/>
           </form>
           <%} %>
           <%include ../../include/footer %>

        </section>
        <!-- Main Content Ends -->
        <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
         <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
         <!--vectormap-->
        <script src="../stylesheets/assets/vector-map/jquery.vmap.js"></script>
        <script src="../stylesheets/assets/vector-map/jquery.vmap.world.js"></script>
        <script src="../stylesheets/assets/vector-map/jquery.vmap.korea.js"></script>

        <script src="../stylesheets/assets/vector-map/jquery.vmap.sampledata.js?note=<%=JSON.stringify(rows)%>"></script>

        <script src="../stylesheets/assets/vector-map/vmap-init.js"></script>
        <script src="../stylesheets/js/jquery.app.js"></script>
        <script>
        function initMap() {
        	  var map = new google.maps.Map(document.getElementById('map'), {
        	    zoom: 10,
        	    center: {lat: 37.4898486,
        	        lng: 127.026478},
        	    mapTypeId: google.maps.MapTypeId.TERRAIN
        	  });
        	<%for(var i=0; i<rows.length;i++){
        		var note = rows[i]%>
        	    var cityCircle = new google.maps.Circle({
        	      strokeColor: '#FF6347',
        	      strokeOpacity: 0.8,
        	      strokeWeight: 1,
        	      fillColor: '#FF6347',
        	      fillOpacity: <%=note.view_cnt%>*<%=note.likes%>/5000,
        	      map: map,
        	      center: {lat: <%=note.lat%>, lng: <%=note.lng%>},
        	      radius: 500
        	    });
        	<%}%>
        	}
  
        	    </script>
         <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnm2VlyenmWo3sB8tJ93sBJMfrIftWmn4&callback=initMap"></script>
    </body>
</html>
