<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="../stylesheets/css/animate.css" rel="stylesheet">

        <!-- sweet alerts -->
        <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="../stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />


        <!-- Custom styles for this template -->
        <link href="../stylesheets/css/style.css" rel="stylesheet">
        <link href="../stylesheets/css/helper.css" rel="stylesheet">
        <link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />
        <script src="../stylesheets/js/jquery-3.1.1.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
         <script src="../stylesheets/js/jquery-3.1.1.min.js"></script>
        <script>
        $.ajax({
	        url: '/adcomment',
	        type:'POST',
	        data:{'id': '<%=rows.id%>',created_date:'<%=rows.created_date%>'},

	        success: function(a) {
	        	var dt = new Date();
	        	$('#adcomment').empty();
	        	 for(var i=0;i<a.length;i++){
	        		 var dt2 = new Date(a[i].date);
	    	        	$('#adcomment').append('<div class="time-item">'
					  +'<div class="item-info">');
    				var Time=Math.floor((dt.getTime()-dt2.getTime())/ (1000 * 60));
    				$('#adcomment').append('<div class="text-muted">');
    				
	    	        	if(Time<=0){
	    	        		$('#adcomment').append('&nbsp;&nbsp;방금전');
	    	        	}else if(Time>=16293600){
	    	        		Time/=16293600;
	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'년전');
	    	        	}else if(Time>=44640){
	    	        		Time/=44640;
	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'달전');
	    	        	}else if(Time>=1440){
	    	        		Time/=1440;
	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'일전');
	    	        	}else if(Time>=60){
	    	        		Time/=60;
	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'시간전');
	    	        	}else{
	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Time+'분전');
	    	        	}
	    	        	
    				  $('#adcomment').append('</div>'
    				  +'<p><strong>&nbsp;&nbsp;'+a[i].content+'</strong></p>'
					   	  +'</div>'
				   	  +'</div>');
	    	        	
	        	 }
   			  
	        	
	        	
	        },
	        error: function(jqXHR, textStatus, errorThrown) {
	            alert('error ' + textStatus + " " + errorThrown);
	        }
	    })
        $(document).ready(function() {
        	
        	setInterval(function(){
        			
			  $.ajax({
	    	        url: '/adcomment',
	    	        type:'POST',
	    	        data:{'id': '<%=rows.id%>',created_date:'<%=rows.created_date%>'},

	    	        success: function(a) {
	    	        	var dt = new Date();
	    	        	$('#adcomment').empty();
	    	        	 for(var i=0;i<a.length;i++){
	    	        		 var dt2 = new Date(a[i].date);
	 	    	        	$('#adcomment').append('<div class="time-item">'
        					  +'<div class="item-info">');
            				var Time=Math.floor((dt.getTime()-dt2.getTime())/ (1000 * 60));
            				$('#adcomment').append('<div class="text-muted">');
            				
	 	    	        	if(Time<=0){
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;방금전');
	 	    	        	}else if(Time>=16293600){
	 	    	        		Time/=16293600;
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'년전');
	 	    	        	}else if(Time>=44640){
	 	    	        		Time/=44640;
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'달전');
	 	    	        	}else if(Time>=1440){
	 	    	        		Time/=1440;
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'일전');
	 	    	        	}else if(Time>=60){
	 	    	        		Time/=60;
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Math.floor(Time)+'시간전');
	 	    	        	}else{
	 	    	        		$('#adcomment').append('&nbsp;&nbsp;'+Time+'분전');
	 	    	        	}
	 	    	        	
            				  $('#adcomment').append('</div>'
            				  +'<p><strong>&nbsp;&nbsp;'+a[i].content+'</strong></p>'
      					   	  +'</div>'
    					   	  +'</div>');
	 	    	        	
	    	        	 }
	       			  
	    	        	
	    	        	
	    	        },
	    	        error: function(jqXHR, textStatus, errorThrown) {
	    	            alert('error ' + textStatus + " " + errorThrown);
	    	        }
	    	    })
        	}, 7000);
        	
		 });
   	
        </script>
         
<<<<<<< HEAD

    <script>
    var seoul=0,ulsan=0,jeju=0,gn=0,jb=0,cn=0,gb=0,jn=0,gg=0
    ,cb=0,gw=0,daegu=0,sejong=0,gwangju=0,incheon=0,daejeon=0,busan=0;
    <%for(var i=0; i<rows.length; i++){%>
    if(<%=rows[i].location_name.indexOf("대한민국 서울특별시")%> > -1){
		seoul=seoul+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 울산")%> > -1){
		ulsan=ulsan+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 제주도")%> > -1){
		jeju=jeju+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 경상남도")%> > -1){
		gn=gn+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 전라북도")%> > -1){
		jb=jb+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 충청남도") %>> -1){
		cn=cn+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 경상북도")%> > -1){
		gb=gb+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 전라남도")%> > -1){
		jn=jn+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 경기도")%> > -1){
		gg=gg+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 충청북도")%> > -1){
		cb=cb+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 강원도")%> > -1){
		gw=gw+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 대구")%> > -1){
		daegu=daegu+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 세종")%> > -1){
		sejong=sejong+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 광주")%> > -1){
		gwangju=gwangju+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 인천")%> > -1){
		incheon=incheon+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 대전")%> > -1){
		daejeon=daejeon+1;
	}else if(<%=rows[i].location_name.indexOf("대한민국 부산")%> > -1){
		busan=busan+1;
	}
   <%}%>
    var result = seoul*500+ulsan*300+jeju*400+gn*300+jb*300+cn*300+gb*300+jn*300+gg*450+
        cb*300+gw*300+daegu*300+sejong*300+gwangju*300+incheon*400+daejeon*300+busan*400;
       
    $(document).ready(function() {
    	$('#price').html(result+'원');
    	$('#edit-profile').click(function(){
    		alert($('#id').val());
    		alert($('#date').val());
    		alert($('#lat').val());
    		alert($('#lng').val());
    	});
    });
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62

    
    </script>
    </head>


    <body>
    

        <!-- Aside Start-->
        <%include ../../include/asideAdvertiser %>
        <section class="content">
            
            <%include ../../include/header %>
            <div class="wraper container-fluid">
              

                <div class="row m-t-30">
                    <div class="col-sm-12">
                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0"> 
                                <ul class="nav nav-tabs profile-tabs">
<<<<<<< HEAD
<<<<<<< HEAD
                                    <li class="active"><a data-toggle="tab" href="#aboutme">내 광고</a></li>
                                    <li class=""><a data-toggle="tab" href="#user-activities">실시간 댓글</a></li>
                                   <!--  <li class=""><a data-toggle="tab" href="#edit-profile">광고수정</a></li> -->
                                    <li class=""><a data-toggle="tab" href="#myAd">광고 한눈에 보기</a></li>
                                    <li class=""><a data-toggle="tab" href="#projects">프로젝트</a></li>
=======
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                    <li class="active"><a data-toggle="tab" href="#aboutme">기본정보</a></li>
                                    <li class=""><a data-toggle="tab" href="#asdf" id="aa">댓글</a></li>
                                    <li class=""><a data-toggle="tab" href="#edit-profile">수정</a></li>
                                    <li class=""><a data-toggle="tab" href="#projects">Projects</a></li>
<<<<<<< HEAD
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                </ul>

                                <div class="tab-content m-0"> 

                                    <div id="aboutme" class="tab-pane active">
                                    <div class="profile-desk">
                                        <h1><%=rows.title %></h1>
                                        <span class="designation"><%=rows.start_date%> ~ <%=rows.end_date %></span>
                                        <p>
                                            <%=rows.content %>
                                        </p>

                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th colspan="3"><h3>세부정보</h3></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><b>회사 이름</b></td>
                                                    <td><%=rows.company_name %></td>
                                                </tr>
                                                <tr>
                                                    <td><b>미디어</b></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
<<<<<<< HEAD
<<<<<<< HEAD
                                                    <td><b>투자한 금액</b></td>
                                                    <td>
                                                       <div id="price"></div>                      
                                                    </td>
=======
                                                    <td><b>디자인</b></td>
                                                    <td></td>
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
                                                    <td><b>디자인</b></td>
                                                    <td></td>
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                                </tr>
                                                <tr>
                                                    <td><b>광고 타입</b></td>
                                                    <td><%=rows.ad_type %></td>
                                                </tr>
                                                <tr>
                                                    <td>지역</td>
                                                    <td><%=rows.location_name %></td>
                                                </tr>
                                                <tr>
                                                    <td><b>클릭수</b></td>
                                                    <td><%=rows.view_cnt %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- end profile-desk -->
                                </div> <!-- about-me -->


                                <!-- Activities -->
                                <div id="asdf" class="tab-pane">
                                    <div id="adcomment"class="timeline-2">
                                       
                                    </div>
                                </div>

<<<<<<< HEAD
                             
                                 <!-- settings -->
=======
                                <!-- settings -->
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                <div id="edit-profile" class="tab-pane">
                                    <div class="user-profile-content">
                                    
                                        <form role="form" action="/adupdate" method="post">
                                        <input type="hidden" name="id" value="<%=rows.id%>"/>
                                        <input type="hidden" name="created_date" value="<%=rows.created_date%>"/>
<<<<<<< HEAD
<<<<<<< HEAD
                                            <div class="form-group">
                                                <label for="company_name">company_name</label>
                                                <input type="text" value="<%=rows.company_name %>" name="company_name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="start_date">start_date</label>
                                                <p><%=rows.start_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="end_date">end_date</label>
                                                <p><%=rows.end_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="title">title</label>
                                                <input type="text" value="<%=rows.title %>" name="title" id="Title" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="content">content</label>
                                                <input type="text" value="<%=rows.content %>" name="content" id="Content" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="ad_type">ad_type</label>
                                                <p><%=rows.ad_type%></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="location_name">location_name</label>
                                                <p><%=rows.location_name%></p>
                                            </div>
                                            <div class="form-group">
=======
                                            <div class="form-group">
                                                <label for="company_name">company_name</label>
                                                <input type="text" value="<%=rows.company_name %>" name="company_name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="start_date">start_date</label>
                                                <p><%=rows.start_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="end_date">end_date</label>
                                                <p><%=rows.end_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="title">title</label>
                                                <input type="text" value="<%=rows.title %>" name="title" id="Title" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="content">content</label>
                                                <input type="text" value="<%=rows.content %>" name="content" id="Content" class="form-control">
                                            </div>
                                            <div class="form-group">
=======
                                            <div class="form-group">
                                                <label for="company_name">company_name</label>
                                                <input type="text" value="<%=rows.company_name %>" name="company_name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="start_date">start_date</label>
                                                <p><%=rows.start_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="end_date">end_date</label>
                                                <p><%=rows.end_date %></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="title">title</label>
                                                <input type="text" value="<%=rows.title %>" name="title" id="Title" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="content">content</label>
                                                <input type="text" value="<%=rows.content %>" name="content" id="Content" class="form-control">
                                            </div>
                                            <div class="form-group">
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                                <label for="ad_type">ad_type</label>
                                                <p><%=rows.ad_type%></p>
                                            </div>
                                            <div class="form-group">
                                                <label for="location_name">location_name</label>
                                                <p><%=rows.location_name%></p>
                                            </div>
                                            <div class="form-group">
<<<<<<< HEAD
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                                                <label for="view_cnt">view_cnt</label>
                                                <p><%=rows.view_cnt%></p>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>


                                <!-- profile -->
                                <div id="projects" class="tab-pane">
                                    <div class="row m-t-10">
                                        <div class="col-md-12">
                                            <div class="portlet"><!-- /primary heading -->
                                                <div id="portlet2" class="panel-collapse collapse in">
                                                    <div class="portlet-body">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Project Name</th>
                                                                        <th>Start Date</th>
                                                                        <th>Due Date</th>
                                                                        <th>Status</th>
                                                                        <th>Assign</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td>Velonic Admin</td>
                                                                        <td>01/01/2015</td>
                                                                        <td>07/05/2015</td>
                                                                        <td><span class="label label-info">Work in Progress</span></td>
                                                                        <td>Coderthemes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td>Velonic Frontend</td>
                                                                        <td>01/01/2015</td>
                                                                        <td>07/05/2015</td>
                                                                        <td><span class="label label-success">Pending</span></td>
                                                                        <td>Coderthemes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>3</td>
                                                                        <td>Velonic Admin</td>
                                                                        <td>01/01/2015</td>
                                                                        <td>07/05/2015</td>
                                                                        <td><span class="label label-pink">Done</span></td>
                                                                        <td>Coderthemes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>4</td>
                                                                        <td>Velonic Frontend</td>
                                                                        <td>01/01/2015</td>
                                                                        <td>07/05/2015</td>
                                                                        <td><span class="label label-purple">Work in Progress</span></td>
                                                                        <td>Coderthemes</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>5</td>
                                                                        <td>Velonic Admin</td>
                                                                        <td>01/01/2015</td>
                                                                        <td>07/05/2015</td>
                                                                        <td><span class="label label-warning">Coming soon</span></td>
                                                                        <td>Coderthemes</td>
                                                                    </tr>
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- /Portlet -->
                                        </div>
                                    </div>
                                </div>
<<<<<<< HEAD
<<<<<<< HEAD
                                
                                
                                
                              
                              <div id="myAd" class="tab-pane">
                                <div class="user-profile-content">
                                    <div class="row">
                                     <%
                                    for(var i=0;i<rows.length;i++){
                                 	var info = rows[i];
                                      %>
                                  <div class="col-sm-6">
                                  <div class="panel">
                                  <div class="panel-body p-t-10">
                            
                                   <div class="media-main">
                                    <a class="pull-left" href="#">
                                        <img class="thumb-lg img-circle bx-s" src="../a/<%=info.media %>" alt="">
                                    </a>
                                    <div class="pull-right btn-group-sm">
                                        <a href="#edit-profile" class="btn btn-success tooltips" data-placement="top" data-toggle="tab" data-original-title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                            <i class="fa fa-close"></i>
                                        </a>
                                         </div>
                                         <div class="info">
                                          <h4><%=info.title %></h4>
                                          <p class="text-muted"><%=info.content %></p>
                                         </div>
                                       </div>
                                       <div class="clearfix"></div>
                                       <hr/>
                                       <p><%=info.location_name %></p>
                                       <p><%=info.start_date %> ~ <%=info.end_date %> </p>
                               
                                
                                       </div> <!-- panel-body -->
                                       </div> <!-- panel -->
                                       </div> <!-- end col -->
                                       <input type="hidden" value="<%=info.id%>" id="id"/>
                                       <input type="hidden" value="<%=info.created_date %>" id="date"/>
                                       <input type="hidden" value="<%=info.lat%>" id="lat"/>
                                       <input type="hidden" value="<%=info.lng%>" id="lng"/>
                                       <%} %>
                                        </div> <!-- End row -->
                                    </div>
                                </div>
                          </div>
                       </div> 
=======
                            </div>
             
                        </div> 
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
=======
                            </div>
             
                        </div> 
>>>>>>> c818fdc39dd64519f36143d99ad2d5309d432c62
                    </div>
                </div>
            </div>

            

            


        </div>

     <%include ../../include/footer %>


    </section>
    <!-- Main Content Ends -->
        




    <!-- js placed at the end of the document so the pages load faster -->
        <script src="../stylesheets/js/jquery.js"></script>
        <script src="../stylesheets/js/bootstrap.min.js"></script>
        <script src="../stylesheets/js/pace.min.js"></script>
        <script src="../stylesheets/js/modernizr.min.js"></script>
        <script src="../stylesheets/js/wow.min.js"></script>
        <script src="../stylesheets/js/jquery.scrollTo.min.js"></script>
        <script src="../stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
    
        <script src="../stylesheets/js/jquery.app.js"></script>

  </body>
</html>
