<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
		<link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
		<!-- DataTables -->
        <link href="stylesheets/assets/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>
    <script>
    function note(id,created_date){
    	   swal({   
               title: "Are you sure?",   
               text: "You will not be able to recover this imaginary file!",   
               type: "warning",   
               showCancelButton: true,   
               confirmButtonColor: "#DD6B55",   
               confirmButtonText: "Yes, delete it!",   
               closeOnConfirm: false 
           }, function(){   
               swal("Deleted!", "Your imaginary file has been deleted.", "success"); 

               location="/noteexception/"+id+","+created_date;
           });
    }
    function ad(id,created_date){
 	   swal({   
            title: "Are you sure?",   
            text: "You will not be able to recover this imaginary file!",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Yes, delete it!",   
            closeOnConfirm: false 
        }, function(){   
            swal("Deleted!", "Your imaginary file has been deleted.", "success"); 

            location="/adexception/"+id+","+created_date;
        });
 }
    function user(id){
 	   swal({   
            title: "Are you sure?",   
            text: "You will not be able to recover this imaginary file!",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Yes, delete it!",   
            closeOnConfirm: false 
        }, function(){   
            swal("Deleted!", "Your imaginary file has been deleted.", "success"); 

            location="/userexception/"+id;
        });
 }
    function advertiser(id){
 	   swal({   
            title: "Are you sure?",   
            text: "You will not be able to recover this imaginary file!",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Yes, delete it!",   
            closeOnConfirm: false 
        }, function(){   
            swal("Deleted!", "Your imaginary file has been deleted.", "success"); 

            location="/advertiserexception/"+id;
        });
 }
    function repeat(id,content,title){
	   swal({   
           title: "Are you sure?",   
           text: "You will not be able to recover this imaginary file!",   
           type: "warning",   
           showCancelButton: true,   
           confirmButtonColor: "#DD6B55",   
           confirmButtonText: "Yes, delete it!",   
           closeOnConfirm: false 
       }, function(){   
           swal("Deleted!", "Your imaginary file has been deleted.", "success"); 

           location="/repeatexception/"+id+","+content+","+title;
       });
}
    
    </script>
    <%
    var note = note;
    var ad = ad;
    var advertiser = advertiser;
    var userreport=userreport;
    var repeat=repeat;
    %>


    <body>

         <%include ../../include/asideAdmin.ejs %>
      


        <!--Main Content Start -->
        <section class="content">
            
        
            <%include ../../include/header %>


            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Member Information</h3> 
                </div>

                <!-- Tabs-style-1 -->
                <div class="row"> 
                    <div class="col-lg-12"> 
                        <ul class="nav nav-tabs"> 
                            <li class="active"> 
                                <a href="#note" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-home"></i></span> 
                                    <span class="hidden-xs">쪽지</span> 
                                </a> 
                            </li> 
                            <li class=""> 
                                <a href="#ad" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">광고</span> 
                                </a> 
                            </li> 
                            <li class=""> 
                                <a href="#user" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">유저</span> 
                                </a> 
                            </li> 
                            <li class=""> 
                                <a href="#advertiser" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">광고주</span> 
                                </a> 
                            </li> 
                             <li class=""> 
                                <a href="#repeat" data-toggle="tab" aria-expanded="false"> 
                                    <span class="visible-xs"><i class="fa fa-user"></i></span> 
                                    <span class="hidden-xs">반복</span> 
                                </a> 
                            </li> 
                          
                        </ul> 
                        <div class="tab-content"> 
                            <div class="tab-pane active" id="note"> 
                                <div> 
                                    <div class="panel panel-default"> 
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                 <th>Report</th>  
                                                   <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Exception</th>
                                                   
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
                                                for(var i=0; i<note.length; i++)
                                                {
                                                   var info = note[i];
                                                 
                                           %>
                                               <tr>
                                               
                                                   <td><%=info.report%></td>
                                                   <td><%=info.id%></td>
                                                   <td><%=info.title%></td>
                                                   <td><%=info.content%></td>
                                                   <td><button class="btn btn-info btn-sm" onclick="note('<%=info.id%>','<%=info.created_date%>')">exception</button>
                                                   </td>
                                                   
                                               </tr>

                                           <%
                                                }
                                               
                                           %>
                                            </tbody>
                                        </table>
                                        </div>
</div>
                                    </div>
                              
                           
                       
                        
                           
                            <div class="tab-pane" id="ad"> 
                                <div> 
                                <table id="datatable2" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Report</th>
                                                   <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Exception</th>
                                                </tr>
                                            </thead>

                                     
                                            <tbody>
                                                <%
                                                for(var i=0; i<ad.length; i++)
                                                {
                                                   var info = ad[i];
                                                 
                                           %>
                                               <tr>
                                               
                                                   <td><%=info.report%></td>
                                                   <td><%=info.id%></td>
                                                   <td><%=info.title%></td>
                                                   <td><%=info.content%></td>
                                                   <td><button class="btn btn-info btn-sm" onclick="ad('<%=info.id%>','<%=info.created_date%>')">exception</button></td>
                                                   
                                               </tr>

                                           <%
                                                }
                                               
                                           %>
                                             </tbody>
                                        </table>
										</div>
                                    </div>
                                      <div class="tab-pane" id="user"> 
                                <div> 
                                
                                        <table id="datatable3" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Report</th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Exception</th>
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<userreport.length; i++)
     {
        var info = userreport[i];
      
%>
    <tr>
    
        <td><%=info.report%></td>
        <td><%=info.id%></td>
        <td><%=info.title%></td>
        <td><%=info.content%></td>
 		<td><button class="btn btn-info btn-sm" onclick="user('<%=info.id%>')">exception</button></td>
               
    </tr>

<%
     }
    
%>
                                            </tbody>
                                        </table>
</div>
                                    </div>
                              
                           
                       
                        
                           
                            <div class="tab-pane" id="advertiser"> 
                                <div> 
                                <table id="datatable4" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Report</th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Exception</th>
                                                </tr>
                                            </thead>

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<advertiser.length; i++)
     {
        var info = advertiser[i];
      
%>
    <tr>
       
        <td><%=info.report%></td>
        <td><%=info.id%></td>
        <td><%=info.title%></td>
        <td><%=info.content%></td>
 		<td><button class="btn btn-info btn-sm" onclick="advertiser('<%=info.id%>')">exception</button></td>
               
    </tr>

<%
     }
    
%>
                                             </tbody>
                                        </table>
</div>
                                    </div>
                                <div class="tab-pane" id="repeat"> 
                                <div> 
                                
                                        <table id="datatable5" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                
                                                    <th>Report</th>
                                                      <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Content</th>
                                                    <th>Count</th>
                                                    <th>Exception</th>
                                                </tr>
                                            </thead>	

                                     
                                            <tbody>
                                                <%
     for(var i=0; i<repeat.length; i++)
     {
        var info = repeat[i];
      
%>
    <tr>
        <td><%=info.report%></td>
        <td><%=info.id%></td>
        <td><%=info.title%></td>
        <td><%=info.content%></td>
        <td><%=info.count%></td>
 		<td><button class="btn btn-info btn-sm" onclick="repeat('<%=info.id%>','<%=info.content%>','<%=info.title%>')">exception</button></td>
         
               
    </tr>

<%
     }
    
%>
                                            </tbody>
                                        </table>
</div>
                                    </div>
                            
                              
                              
                              
                        </div> 
                    </div> 
                    

                </div>

            </div> 
          
                <%include ../../include/footer%>
             <!-- Footer Ends -->



        </section>
        <!-- Main Content Ends -->
        





        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>


        
        
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
        <script src="stylesheets/assets/datatables/jquery.dataTables.min.js"></script>
        <script src="stylesheets/assets/datatables/dataTables.bootstrap.js"></script>
<script src="stylesheets/js/jquery.app.js"></script>
     <script type="text/javascript">
     $(document).ready(function() {
         $('#datatable').dataTable();
         $('#datatable2').dataTable();
         $('#datatable3').dataTable();
         $('#datatable4').dataTable();
         $('#datatable5').dataTable();
     } );
        </script>

    </body>
</html>
