<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="../stylesheets/img/favicon_1.ico">

<title>Velonic - Responsive Admin Dashboard Template</title>

<!-- Google-Fonts -->
<link
	href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic'
	rel='stylesheet'>


<!-- Bootstrap core CSS -->
<link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="../stylesheets/css/bootstrap-reset.css" rel="stylesheet">

<!--Animation css-->
<link href="../stylesheets/css/animate.css" rel="stylesheet">

<!--Icon-fonts css-->
<link href="../stylesheets/assets/font-awesome/css/font-awesome.css"
	rel="stylesheet" />
<link href="../stylesheets/assets/ionicon/css/ionicons.min.css"
	rel="stylesheet" />


<!-- Custom styles for this template -->
<link href="../stylesheets/css/style.css" rel="stylesheet">
<link href="../stylesheets/css/helper.css" rel="stylesheet">
<link href="../stylesheets/css/style-responsive.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
<!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

</head>


<body>

	<%include ../../include/asideAdvertiser %>


	<!--Main Content Start -->
	<section class="content">

		<%include ../../include/header %>


		<!-- Page Content Start -->
		<!-- ================== -->

		<div class="wraper container-fluid">
			<div class="page-title">
				<h3 class="title">Blank Page</h3>
			</div>
			<form action='/writeFaq' method='post'>
				<table>
					<tr>
						<td>제목</td>
					</tr>
					<tr>
						<td><input name="title" size="50" maxlength="100"></td>
					</tr>
					<tr>
						<td>글쓰기</td>
					</tr>
					<tr>
						<td><textarea name="content" cols="50" rows="13"></textarea></td>
					</tr>
				</table>

				<input type=submit value="등록"><br /> <input type=button
					value="취소">
			</form>


		</div>
		<!-- Page Content Ends -->
		<!-- ================== -->

		<%include ../../include/footer %>



	</section>
	<!-- Main Content Ends -->




	<!-- js placed at the end of the document so the pages load faster -->
	<script src="../stylesheets/js/jquery.js"></script>
	<script src="../stylesheets/js/bootstrap.min.js"></script>
	<script src="../stylesheets/js/pace.min.js"></script>
	<script src="../stylesheets/js/modernizr.min.js"></script>
	<script src="../stylesheets/js/wow.min.js"></script>
	<script src="../stylesheets/js/jquery.nicescroll.js"
		type="text/javascript"></script>


	<script src="../stylesheets/js/jquery.app.js"></script>



</body>
</html>
