<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="stylesheets/img/favicon_1.ico">

        <title>Nostalog</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>

        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
        <link href="../stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="stylesheets/assets/morris/morris.css">

        <!-- sweet alerts -->
        <link href="stylesheets/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
     
       
       
      
        
        <% 
        var note = note; 
        var noteadd = noteadd; 
        var adadd = adadd; 
        var advertiseradd = advertiseradd; 
        var notecnt = notecnt;
        var advertiser = advertiser;
        var ad = ad;
        var adcnt = adcnt;
        var userall = userall;
        %>
<script>
        function onClick(){
        	<%if(user.grade == 'F'){%>
        	document.form.pictureClick.click();
        	<%}else if(user.grade =='R'){%>
        	document.form.request.click();
        	<%}%>
        }
  </script>
    </head>


    <body>

      <% include ../include/asideAdvertiser %>


        <!--Main Content Start -->
        <section class="content">
            
            <% include ../include/header %>
              <%if(user.grade=='A'){ %>
        <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Nostalog 일일자료</h3> 
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-pink">
                            <i class="ion-eye"></i> 
                            <h2 class="m-0 counter"><%=advertiser %></h2>
                            <div>advertiser all</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-purple">
                            <i class="ion-paper-airplane"></i> 
                            <h2 class="m-0 counter"><%=ad %></h2>
                            <div>ad all</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-info">
                            <i class="ion-ios7-pricetag"></i> 
                            <h2 class="m-0 counter"><%=userall %></h2>
                            <div>user all</div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget-panel widget-style-2 bg-success">
                            <i class="ion-android-contacts"></i> 
                            
                            <h2 class="m-0 counter"><%=note %></h2>
                            <div>note all</div>
                        </div>
                    </div>
                </div> <!-- end row -->



                <div class="row">
                    <div class="col-lg-8">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    일주일간 새로운 쪽지,사업자 회원
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet1" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="morris-bar-example"  style="height: 320px;"></div>

                                    <div class="row text-center m-t-30 m-b-30">
                                        <div class="col-sm-3 col-xs-6">
                                            <h4>$ 126</h4>
                                            <small class="text-muted"> Today's Sales</small>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <h4>$ 967</h4>
                                            <small class="text-muted">This Week's Sales</small>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <h4>$ 4500</h4>
                                            <small class="text-muted">This Month's Sales</small>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                            <h4>$ 87,000</h4>
                                            <small class="text-muted">This Year's Sales</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /Portlet -->

                    </div> <!-- end col -->

                    <div class="col-lg-4">
                        <div class="portlet"><!-- /primary heading -->
                            <div class="portlet-heading">
                                <h3 class="portlet-title text-dark text-uppercase">
                                    연도별 쪽시,광고 증가수
                                </h3>
                                <div class="portlet-widgets">
                                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                                    <span class="divider"></span>
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet2"><i class="ion-minus-round"></i></a>
                                    <span class="divider"></span>
                                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div id="portlet2" class="panel-collapse collapse in">
                                <div class="portlet-body">
                                    <div id="morris-line-example" style="height: 200px;"></div>
                                    <div class="row text-center m-t-30">
                                <div class="col-sm-4">
                                    <h4>$ 86,956</h4>
                                    <small class="text-muted"> This Year's Report</small>
                                </div>
                                <div class="col-sm-4">
                                    <h4>$ 86,69</h4>
                                    <small class="text-muted">Weekly Sales Report</small>
                                </div>
                                <div class="col-sm-4">
                                    <h4>$ 948,16</h4>
                                    <small class="text-muted">Yearly Sales Report</small>
                                </div>

                            </div>
                                </div>
                            </div>
                        </div> <!-- /Portlet -->
                        <div class="tile-stats white-bg"> 
                            <div class="col-sm-8">
                                <div class="status">
                                <h3 class="m-t-15">61.5%</h3> 
                                <p>전체 회원,광고주,쪽지,광고</p>
                            </div> 
                            </div>
                            <div class="col-sm-4 m-t-20">
                                <span class="sparkpie-big"><canvas width="98" height="50" style="display: inline-block; width: 98px; height: 50px; vertical-align: top;"></canvas></span> 
                            </div>
                        </div>
                    </div>
                </div> <!-- End row -->
            </div>
             <%}else{ %>
           <img id="picture" width="100%" src="../stylesheets/img/data_1.PNG" onClick="onClick()"/>
           <form name="form">
           <input type="hidden" class="btn btn-info btn-sm" id="sa-pictureClick" name="pictureClick"/>
           <input type="hidden" class="btn btn-info btn-sm" id="sa-request" name="request"/>
           </form>
           <%} %>
            <% include ../include/footer %>


        </section>
        <!-- Main Content Ends -->
        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/modernizr.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.scrollTo.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="../stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>
        <script src="stylesheets/assets/chat/moment-2.2.1.js"></script>

        <!-- Counter-up -->
        <script src="stylesheets/js/waypoints.min.js" type="text/javascript"></script>
        <script src="stylesheets/js/jquery.counterup.min.js" type="text/javascript"></script>

        <!-- EASY PIE CHART JS -->
        <script src="stylesheets/assets/easypie-chart/easypiechart.min.js"></script>
        <script src="stylesheets/assets/easypie-chart/jquery.easypiechart.min.js"></script>
        <script src="stylesheets/assets/easypie-chart/example.js"></script>


        <!--C3 Chart-->
        <script src="stylesheets/assets/c3-chart/d3.v3.min.js"></script>
        <script src="stylesheets/assets/c3-chart/c3.js"></script>

        <!--Morris Chart-->
        <script src="stylesheets/assets/morris/morris.min.js"></script>
        <script src="stylesheets/assets/morris/raphael.min.js"></script>

        <!-- sparkline --> 
        <script src="stylesheets/assets/sparkline-chart/jquery.sparkline.min.js" type="text/javascript"></script>
        <script src="stylesheets/assets/sparkline-chart/chart-sparkline.js?note=<%=note %>&userall=<%=userall %>&ad=<%=ad %>&advertiser=<%=advertiser %>" type="text/javascript"></script> 

        <!-- sweet alerts -->
        <script src="stylesheets/assets/sweet-alert/sweet-alert.min.js"></script>
        <script src="stylesheets/assets/sweet-alert/sweet-alert.init.js"></script>

        <script src="stylesheets/js/jquery.app.js"></script>
        <!-- Chat -->
        <script src="stylesheets/js/jquery.chat.js"></script>
        <!-- Dashboard -->
        <script src="stylesheets/js/jquery.dashboard.js?notecnt=<%=JSON.stringify(notecnt)%>&noteadd=<%=JSON.stringify(noteadd)%>&adadd=<%=JSON.stringify(adadd)%>&advertiseradd=<%=JSON.stringify(advertiseradd)%>&adcnt=<%=JSON.stringify(adcnt)%>"></script>

        <!-- Todo -->
        <script src="stylesheets/js/jquery.todo.js"></script>


        <script type="text/javascript">
        /* ==============================================
             Counter Up
             =============================================== */
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
            });
        </script>
    

    </body>
</html>
