<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="img/favicon_1.ico">

        <title>Velonic - Responsive Admin Dashboard Template</title>

        <!-- Google-Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,300,400,600,700,900,400italic' rel='stylesheet'>


        <!-- Bootstrap core CSS -->
        <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
        <link href="stylesheets/css/bootstrap-reset.css" rel="stylesheet">

        <!--Animation css-->
        <link href="stylesheets/css/animate.css" rel="stylesheet">

        <!--Icon-fonts css-->
        <link href="stylesheets/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="stylesheets/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="stylesheets/assets/morris/morris.css">


        <!-- Custom styles for this template -->
        <link href="stylesheets/css/style.css" rel="stylesheet">
        <link href="stylesheets/css/helper.css" rel="stylesheet">
        <link href="stylesheets/css/style-responsive.css" rel="stylesheet" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body>

       <%include ../../include/asideAdvertiser %>
        
        <section class="content">
		<%include ../../include/header %>
            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Contacts </h3> 
                </div>

                <div class="row">
                <%
                            for(var i=0;i<rows.length;i++){
                            	var info = rows[i];
                            %>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-body p-t-10">
                            
                                <div class="media-main">
                                    <a class="pull-left" href="#">
                                        <img class="thumb-lg img-circle bx-s" src="../a/<%=info.design %>" alt="">
                                    </a>
                                    <div class="pull-right btn-group-sm">
                                        <a href="/adinfo/<%=info.id %>,<%=info.created_date %>" class="btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <h4><%=info.title %></h4>
                                        <p class="text-muted"><%=info.content %></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr/>
                                   <p><%=info.start_date %> ~ <%=info.end_date %> </p>
                               
                                
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- end col -->

                    <%
                                }
                                
                                %>


                </div> <!-- End row -->

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="pagination pull-right">
                            <li>
                              <a href="#" aria-label="Previous">
                                <i class="fa fa-angle-left"></i>
                              </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li ><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="disabled"><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div> <!-- END Wraper -->

           <%include ../../include/footer %>

        </section>
        


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="stylesheets/js/jquery.js"></script>
        <script src="stylesheets/js/bootstrap.min.js"></script>
        <script src="stylesheets/js/pace.min.js"></script>
        <script src="stylesheets/js/wow.min.js"></script>
        <script src="stylesheets/js/jquery.nicescroll.js" type="text/javascript"></script>


        <script src="stylesheets/js/jquery.app.js"></script>
    

    </body>
</html>
