<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div>
	<form action='/writeFaq' method='post'>
	<table>	<tr>
	<td>제목</td>
	</tr>
	 <tr>
	 <td><input name="title" size="50" maxlength="100"></td>
	 </tr>
	 <tr>
	<td>글쓰기</td>
	</tr>
	<tr>
	 <td><textarea name="content" cols="50" rows="13"></textarea></td>
	</tr>
	</table>
	
	<input type=submit value="등록"><br/>
       <input type=button value="취소">
       </form>
       
	</div>
</body>
</html>